**Data type(자료형) 이란**

- 모든 프로그래밍 언어가 데이터를 다루기 위해 필요한 약속.
- 프로그래밍 언어마다 조금씩 다르며, 어떤 프로그래밍 언어에 대해 배울 때 제일 먼저 익혀야 하는 필수 관문.
- 프로그래밍 언어에서는 변수(Variable)에서 데이터를 저장/관리 하며 변수에 대한 개념을 통해 데이터를 사용할 수 있다.
- type() 함수를 통해 데이터의 타입을 알수 있다.

# 숫자 데이터 (Numeric Data Types)

- 숫자형 데이터란, 정수/실수/복소수/2진수/8진수/16진수를 포함하며 가장 많이 사용하는 데이터 타입중에 하나다.
- 숫자 데이터는 우리가 알고 있는 대부분의 연산을 그대로 지원한다. 사칙연산, 나머지 구하기, 몫 구하기, 거듭제곱 등

## 정수형 (Int)

In [ ]:
1+1

In [ ]:
a = 10
b = 6

a+b
type(a)

In [ ]:
# 1 은 참, 0은 거짓으로 취급
a = 1

## 실수형 (float)

In [ ]:
c = 3.14
c
type(c)

In [ ]:
c + 3.14

In [ ]:
d = 4
c - d

In [ ]:
pi = 3.14
r = 10

# 원주율, 반지름, 원의 둘레, 원의 넓이

# 불형(bool)
- 참(True)이나 거짓(False)만 저장, 논리형이라고 한다.

In [ ]:
a = True
type(a)

In [ ]:
0 == False

In [ ]:
2>1

# 문자열(str)

- 문자열 데이터란, 문자(character)의 나열을 의미한다. e.g. "Hello world"
- <kbd>'</kbd>와 <kbd>"</kbd> 두 가지의 기호를 통해 문자열을 나타낸다. 즉 ' 부터 ' 까지 또는 " 부터 " 까지 하나의 문자열이다.

## 특수 문자 표현 (escape code) 
- 프로그래밍 할 때 사용할 수 있도록 미리 정의해 둔 '문자조합'
- 주로 출력물을 보기 좋게 정렬하는 용도로 사용

| 코드 | <center>설명</center>|
| --- | :--- |
| \n | 문자열 안에서 줄을 바꿀 때 사용 |
| \t | 문자열 안에서 탭 간격을 줄 때 사용 |
| \\', \\" | 작은 따옴표('), 큰 따옴표(")를 그대로 표현할 때 사용 |
| \\\ | 문자 \를 그대로 표현할때 사용 |
| \b | 백스페이스 |

In [ ]:
print("동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라 만세 무궁화 삼천리 화려강산 대한사람 대한으로 길이 보전하세")

In [ ]:
#'안녕하세요'라고 말했습니다.
# "배가 고픕니다"라고 생각했습니다.

In [ ]:
# 아래 s3와 s4를 문자열로 만들어서 출력해봅시다.
s3 = I'm a boy.
s4 = "Python is very easy." he says.
print(s3)
print(s4)

In [ ]:
# 아래 s3와 s4를 문자열로 만들어서 출력해봅시다.

## 문자열 연산
- 문자열 연결 연산자 : +
- 문자열 반복 연산자 : *

In [ ]:
s1 = "Hello"
s2 = "World"
se3 = s1 + s2 # 가운데 빈 칸을 넣고 싶을 땐 어떻게 해야할까?

In [ ]:
s2 = "="

print("Life is short")
print("Life is short"+"You need python")

## 문자열 인덱싱


| H | e | l | l | o |   | W | o | r | l | d |
| ---- | ---- | ---- | ---- | ---- | ---- | ---- | ---- |---- | ---- | ---- |
|  [0] |  [1] |  [2] |  [3] |  [4] |  [5] |  [6] |  [7] | [8] |  [9] | [10] |
|  [-11] |  [-10] |  [-9] |  [-8] |  [-7] |  [-6] |  [-5] |  [-4] | [-3] |  [-2] | [-1] |

In [ ]:
s3 = 'Hello World'

* 범위 밖의 인덱스를 사용하면?

In [ ]:
a = 'Hello World'

**연습문제1) 문자열을 입력 받아서 거꾸로 출력하는 프로그램**

In [ ]:
# 문자열을 입력 받아서 거꾸로 출력하는 프로그램
# 입력 : 문자열
# 처리 : for(문자[-1],-len(문자),-1) 
# 출력 : 문자열을 거꾸로 출력

## 문자열 슬라이싱
- 원하는 문자만 자를 수 있는 기능
- 문자열[시작인덱스:끝나는 인덱스:증가값]

### 양수 인덱스로 슬라이싱

In [ ]:
a = 'Hello World'

### 음수 인덱스로 슬라이싱

In [ ]:
a = 'Hello World'

### 다양한 문자열 슬라이싱

- 첫번째와 마지막 인덱스는 생략 가능

In [ ]:
a = 'Hello World'

# 'Hello'


# 'World'


# 'Hello World'

- 한 문자씩 건너띄어 출력하기

In [ ]:
a = 'Hello World'

- 역순으로 출력하기 : 간격을 마이너스(-)로 하면 역순으로 출력된다.

In [ ]:
a = 'Hello World'

**연습문제2) '20220518Rainy' 문자열을 슬라이스 해서 `2022 년 05 월 18 일 Rainy` 의 형태로 출력하시오.**

In [ ]:
a = '20220518Rainy'

**연습문제3) 주민등록번호 뒤 6 가리기**
- 주민등록번호가 하나 주어집니다.
- 뒤에 6자리를 *로 만들어서 소중한 정보를 지키세요

In [ ]:
# test용 주민번호, 4가지 다 넣어서 테스트 해보세요.
id1 = "911210-1234567"
id2 = "900101-2111111"
id3 = "200112-3111111"
id4 = "200112-4123987"

**연습문제4) 아래 조건에 맞는 코드를 작성하시오**
- 숫자 하나를 입력 받는다.(숫자는 무조건 두 자리 이상의 자연수를 입력한다)
- 입력받은 숫자의 십의 자리수를 출력한다.
- hint : str인덱스를 이용하여 구하는 방법, 숫자 연산을 통해 구하는 방법

In [ ]:
number = int(input("숫자를 입력해주세요 : "))
# str으로 하는 방법


# 숫자 연산을 통한 방법

## 문자열 Formatting

- "현재 온도는 18도 입니다."
- "현재 온도는 20도 입니다."
- "현재 온도는 21도 입니다."
- 위와 같이 문자열의 특정한 값만 바꾸어 주는 기법

### 문자열 포매팅
#### 문자열 포맷코드
| 코드 | <center>설명</center> | 코드 | <center>설명</center> |
|----|:----|----|:----|
| %s | 문자열(String) | %d | 정수(Integer)|
| %c | 문자 1개(Character)| %f | 부동소수(Floateing-point)|

**- 숫자 바로 대입**
- 문자열 안에서 숫자를 넣고 싶은 자리에 %d를 넣고 삽입할 숫자는 뒤에 있는 % 다음에 넣는다.   
- 여깃에서 **%d**를 문자열 포맷코드라 부른다

**- 문자열 바로 대입**

**- 변수를 사용하여 대입**

**- 2개 이상의 값 넣기**

In [ ]:
#1 사과는 개 있다.

In [ ]:
# 원숭이 엉덩이는 빨개

**- %s 는 어떤 형태의 값이든 문자열로 변환한다**

#### 포맷코드와 숫자 함께 사용하기

**- 정렬과 공백**

In [ ]:
#"%-10s" %"hi"

**- 소수점 표현하기**

**- 기호 표현하기**

### format()를 사용한 포매팅
- 문자열의 format()를 사용하면 좀 더 발전된 스타일로 문자열의 포맷을 지정할 수 있다.

**- 숫자 바로 대입**

**- 문자열 바로 대입**

**- 숫자 값을 다진 변수로 대입하기**

In [ ]:
apple = 3

**- 2개 이상의 값 넣기**

In [ ]:
#1 사과는 개 있다.
fruit = "사과"
count = 4

**- 이름으로 넣기**

**-인덱스와 이름을 혼용해서 넣기**

**- 왼쪽/오른쪽/가운데 정렬**

**- 공백채우기**

**- 소수점 표현하기**

In [ ]:
y = 3.23423423

**연습문제5) 돈(예 : 7777777)을 입력하면 5만원, 1만원, 5천원, 천원 지폐로 교환하는 프로그램을 format()를 사용하여 만들기**

In [ ]:
money = 123345345

### f string 포매팅

In [ ]:
name='홍길동'
age=30

**연습문제6) 다음의 문장을 문자열 포맷팅, format(), fstring을 이용하여 출력하시오**
- 사과는 4개 있다.
- 원숭이 엉덩이는 빨개

In [ ]:
fruit= '사과'
count=4

**연습문제7) 다음에 조건을 만족하는 코드를 완성하시오.**
- 개인정보를 사용자로부터 입력받아, 주민등록등본을 출력해주는 프로그램을 제작하려고 한다. 입력받은 이름을 name이라는 변수에, 주민번호를 num라는 변수에 입력받는다.
- 출력은 이름 : 홍길동, 주민등록번호 : 900101-3******

## 문자열 관련 함수들  
- 문자열 자료형은 자체적으로 함수를 가지고 있다. 다른말로 **문자열 내장함수**라 한다.
- 변수 이름뒤에 .을 인 다음에 함수이름을 써주면 된다5

### 문자 개수 세기 count()

In [ ]:
# 문자열 중 b의 개수를 돌려준다.
a = 'hobby'

### 위치 알려주기 find()
- 처음으로 나온 위치를 반환

In [ ]:
a= 'python is the best choice'

### 위치알려주기 index()
- 처음으로 나온 위치를 반환.
- 존재하지 않은 문자를 찾으면 오류발생

In [ ]:
a= 'python is the best choice'

### (영어) 대소문자 바꾸기 upper(), lower()

In [ ]:
s = "hi"

In [ ]:
s = "Hi"

### 문자 공백 지우기 strip() / lstrip()  / rstrip()

In [ ]:
s = "  hi    "

### 문자열 삽입 join()

### 문자열  나누기 split()

In [ ]:
# 기사
s = "Life is too short."

In [ ]:
s1 = '삼성전자/애플/샤오미'

### 문자열 바꾸기 replace()

In [ ]:
s = "Life is too short."

In [ ]:
s = "  hi    "

**연습문제8)사용자의 이름을 입력받아 성과 이름 순서를 바꾸어서 출력하는 프로그램을 작성하세요.**   
- 성과 이름은 공백으로 구분하여 입력니다.

In [ ]:
# 사용자의 영문이름 입력받기 (성과 이름은 공백으로 구분)
full_name = input('영문이름(성과 이름은 공백으로 구분하세요):')