# 집합(set)

- 집합(set)은 파이썬 2.3부터 지원하기 시작한 자료형으로, 집합에 관련된 것을 쉽게 처리하기 위해 만든 자료형이다.
- 공집합을 생성할 때는 **반드시 set()** 으로 생성해야 한다. **{}로 생성하면 빈 dictionary가 생성**된다.
    - {1, 2, 3} -> set
    - {'a':1, 'b':2} -> dictionary
- 집합의 연산자인 교집합, 합집합, 차집합을 모두 지원한다.
- set의 특징이 2가지 있는데, 이 특징이 리스트와의 차이점이라 사용한다. 첫번째 특징이 set 자료형을 사용하는 주된 이유이다.    
1) set은 **중복을 허용하지 않는다.** 즉, **원소의 종류**를 나타내기 좋다.   
2) set은 **순서가 존재하지 않는다.** 즉, index가 없다.

In [2]:
# 공집합 만들기
my_set = set()
print(my_set, type(my_set))

# 1, 2, 3을 원소로 가지는 집합
my_set={1,2,3}
print(my_set, type(my_set))

set() <class 'set'>
{1, 2, 3} <class 'set'>

In [4]:
# set은 중복을 허용하지 않는다
my_set={1,2,2,2,2,3,3,3,4,5,6,6,6,6}
my_set

{1, 2, 3, 4, 5, 6}

In [5]:
# set은 순서가 존재하지 않는다.
my_set[1]

TypeError: 'set' object is not subscriptable

## set의 연산
- 교집합, 합집합, 차집합 등 지원

In [6]:
s1 = {1, 2, 3, 4, 5}
s2 = {3, 4, 5, 6, 7}

print(s1.union(s2)) # 합집합
print(s1.intersection(s2))# 교집합
print(s1.difference(s2)) # 차집합

{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5}
{1, 2}

## 집합 관련 함수

### 집합에 원소 하나 추가하기 add()

In [7]:
s = set()
s.add(3)
s

{3}

### 집합에 여러 원소 추가하기 update()

In [8]:
s = {1, 2, 3}
s.update({4,5})
s

{1, 2, 3, 4, 5}

### 집합에서 원소 제거하기 remove()

In [9]:
s.remove(3)
s

{1, 2, 4, 5}

# Dictionary


**파이썬에서 리스트와 함께 굉장히 많이 사용되는 구조.**
- key - value 방법을 통해 저장한다.

| 자료형 | <center>의미</center> | 가리키는 위치 | 선언형식 |
|:---:|:---|:---:|:---:|
| list | 인덱스를 기반으로 값을 저장 | 인덱스 | a = [ ] |
| dictionary | 키를 기반으로 값을 저장 | 키 | a = { } |


- dictionary를 표현할 때는 **{key : value, key2 : value2, ... }** 형태로 표현한다.
- dict_a = {'Korea' : 'Seoul', 'Japan' : 'Tokyo', 'Chana' : 'Beijing'}
- 순서를 따지지 않음. 즉, 인덱스가 없음
- **key : immutable / value : mutable**
- 파이썬에서 가장 자주쓰는 데이터 형 중 하나

## dictionary 기본사용법

### dictionary 생성

In [81]:
dict_a = {'Korea' : 'Seoul', 
          'Japan' : 'Tokyo', 
          'Chana' : 'Beijing'}
type(dict_a), dict_a

(dict, {'Korea': 'Seoul', 'Japan': 'Tokyo', 'Chana': 'Beijing'})

### dictionary 쌍 추가

In [82]:
dict_a['Canada'] = 'Ottawa'
dict_a

{'Korea': 'Seoul', 'Japan': 'Tokyo', 'Chana': 'Beijing', 'Canada': 'Ottawa'}

### dictionary 쌍 삭제 : del

In [83]:
del dict_a['Japan']
dict_a

{'Korea': 'Seoul', 'Chana': 'Beijing', 'Canada': 'Ottawa'}

### dictionary 접근

In [84]:
dict_a['Chana']

'Beijing'

In [85]:
dict_c = { 0 : 1, 1: 6, 7 : 9, 8 : 9}
dict_c[0]
dict_c[6]

KeyError: 6

In [86]:
dict_b = {'a' : 1 , 'a' : 2, 'b': 3} 
dict_b

{'a': 2, 'b': 3}

### dictionary 수정
- dict.update(수정할 dict)

In [87]:
dict_a['Korea']='Busan'
dict_a

{'Korea': 'Busan', 'Chana': 'Beijing', 'Canada': 'Ottawa'}

In [88]:
dict_b = { 'a' : 1, 'b': 6, 'c' : 9, 'd' : 9}

dict_b['a']=0
dict_b

{'a': 0, 'b': 6, 'c': 9, 'd': 9}

In [89]:
dict_b.update({ 'a' : 2, 'b': 3, 'c' :4, 'd' : 5})
dict_b

{'a': 2, 'b': 3, 'c': 4, 'd': 5}

In [90]:
# 키가 없는 값이면 추가된다
dict_b.update({ 'a' : 2, 'b': 3, 'c' :4, 'e' : 5})
dict_b

{'a': 2, 'b': 3, 'c': 4, 'd': 5, 'e': 5}

In [91]:
singer = {
    'name' : '방탄소년단',
    'member' : 7,
    '데뷔곡' : '데인저',
    '대표곡' : ['IDOL','봄날','불타오르네','Dynamite','Butter']
    
}
print(singer)
print('*'*40,'\n')

singer['name']='BTS'
print(f'name : {singer["name"]}')
print('*'*40,'\n')

singer.update({'member':3, 'reader':'RM'})
print(singer)
print('*'*40,'\n')

print(singer['대표곡'])
print(singer['대표곡'][0])

{'name': '방탄소년단', 'member': 7, '데뷔곡': '데인저', '대표곡': ['IDOL', '봄날', '불타오르네', 'Dynamite', 'Butter']}
****************************************

name : BTS
****************************************

{'name': 'BTS', 'member': 3, '데뷔곡': '데인저', '대표곡': ['IDOL', '봄날', '불타오르네', 'Dynamite', 'Butter'], 'reader': 'RM'}
****************************************

['IDOL', '봄날', '불타오르네', 'Dynamite', 'Butter']
IDOL

> **TIP** dictionary를 만들 때 key는 중복이 있으면 절대 안된다.

## dictionary 관련 함수

### dictionary의 모든 key값들 보기 keys()

In [45]:
a = singer.keys()
print(a, type(a))

a= list(a)
print(a, type(a))

dict_keys(['name', 'member', '데뷔곡', '대표곡', 'reader']) <class 'dict_keys'>
['name', 'member', '데뷔곡', '대표곡', 'reader'] <class 'list'>

### dictionary의 모든 value들 보기 values()

In [48]:
b = singer.values()
print(b, type(b))

b= list(b)
print(b, type(b))

dict_values(['BTS', 3, '데인저', ['IDOL', '봄날', '불타오르네', 'Dynamite', 'Butter'], 'RM']) <class 'dict_values'>
['BTS', 3, '데인저', ['IDOL', '봄날', '불타오르네', 'Dynamite', 'Butter'], 'RM'] <class 'list'>

### dictionary의 모든 key, value 쌍 보기 items()

In [51]:
c = singer.items()
print(c, type(c))
print('*'*40,'\n')
c= list(c)
print(c, type(c))

dict_items([('name', 'BTS'), ('member', 3), ('데뷔곡', '데인저'), ('대표곡', ['IDOL', '봄날', '불타오르네', 'Dynamite', 'Butter']), ('reader', 'RM')]) <class 'dict_items'>
****************************************

[('name', 'BTS'), ('member', 3), ('데뷔곡', '데인저'), ('대표곡', ['IDOL', '봄날', '불타오르네', 'Dynamite', 'Butter']), ('reader', 'RM')] <class 'list'>

### key:value 모두 지우기 : clear()

In [52]:
print(singer)
singer.clear()
print(singer)

{'name': 'BTS', 'member': 3, '데뷔곡': '데인저', '대표곡': ['IDOL', '봄날', '불타오르네', 'Dynamite', 'Butter'], 'reader': 'RM'}
{}

### dictionary의 원소 가져오기 get() : key로 value 구하기

In [75]:
singer = {
    'name' : 'BTS',
    'member' : 7,
    '데뷔곡' : '데인저',
    '대표곡' : ['IDOL','봄날','불타오르네','Dynamite','Butter']
}
print(singer.get('name'))
print(singer['name'])

print(singer.get('Reader'))
print(singer['Reader'])

BTS
BTS
None

KeyError: 'Reader'

- dict.get(key, **default**)

In [77]:
singer['Company']='빅히트'
print(singer)

a= singer.get('Company','SM')
print(a)

b = singer.get('Reader','RM')
print(b)

{'name': 'BTS', 'member': 7, '데뷔곡': '데인저', '대표곡': ['IDOL', '봄날', '불타오르네', 'Dynamite', 'Butter'], 'Company': '빅히트'}
빅히트
RM

### dictionary에 해당 key값이 존재하는지 확인하기 in
- in이라는 operator는 dictionary뿐만 아니라 모든 연속형 데이터 타입(리스트, 튜플, 문자열, 딕셔너리)에 사용할 수 있다.
- dictionary의 경우에는 key를 대상으로 하고, 리스트, 튜플, 집합, 문자열에 대해서는 해당 원소가 존재하는지 찾아서 True / False 를 알려준다.

In [78]:
'name' in singer

True

In [79]:
'ranking' in singer

False

In [80]:
'ranking' not in singer

True

# 연습문제
- 문제를 해결하면서 dictionary의 개념을 정리해 봅니다.
- 결과물은 print()를 이용해서 출력해 합니다.

## 아래 문제를 읽고 적절한 코드를 작성합니다.

### 아래 표에서 음식이름을 key로, 가격을 value으로 하는 dictionary를 만드시오.(변수 명 : foods)

| 이름 | 가격 |
|:---:|:---|
| 떡볶이 | 5000 | 
| 라면 | 3000 |
| 순대 | 3500 |

> 출력결과 : {'떡볶이': 5000, '라면': 3000, '순대': 3500}

In [94]:
foods = {'떡볶이' : 5000, '라면' : 3000, '순대' : 3500}
print(foods)

{'떡볶이': 5000, '라면': 3000, '순대': 3500}

### 다음 음식정보를 추가하시오

| 이름 | 가격 |
|:---:|:---|
| 튀김 | 3000 | 
| 김밥 | 4000 |

> 출력결과 : {'떡볶이': 5000, '라면': 3000, '순대': 3500, '튀김': 3000, '김밥': 4000}

In [95]:
foods['튀김']=3000
foods['김밥']=4000
print(foods)

{'떡볶이': 5000, '라면': 3000, '순대': 3500, '튀김': 3000, '김밥': 4000}

### 라면의 가격을 3500으로 수정하시오
> 출력결과 : {'떡볶이': 5000, '라면': 3500, '순대': 3500, '튀김': 3000, '김밥': 4000}

In [ ]:
foods['라면']=3500
print(foods)

### 튀김을 삭제하시오.
> 출력결과 : {'떡볶이': 5000, '라면': 3500, '순대': 3500, '김밥': 4000}

In [96]:
del foods['튀김']
print(foods)

{'떡볶이': 5000, '라면': 3000, '순대': 3500, '김밥': 4000}

### 다음 코드는 에러가 발생한다. 그 원인은?
- 원인 : '누가바'라는 키가 존재하지 않아서..

In [97]:
icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
icecream['누가바']

KeyError: '누가바'

## 아래 문제를 읽고 적절한 코드를 작성합니다.

### 아래 표에서 차량명을 키값으로, [가격, 판매량] 리스트를 dictionary의 value로 가지는 dictionary를 구성하시오.   (변수명 : cars)


| 차량명| 가격 | 판매량 |
|:---:|---:|---:| 
| niro | 3000 | 500 |
| kona | 2500 | 400 |
| k3 | 2000 | 300 |
> 출력결과 : {'niro': [3000, 500], 'kona': [2500, 400], 'k3': [2000, 300]}

In [98]:
cars = {'niro':[3000, 500],
      'kona':[2500, 400],
      'k3':[2000, 300]}
print(cars)

{'niro': [3000, 500], 'kona': [2500, 400], 'k3': [2000, 300]}

### cars에서 k3의 가격을 화면에 출력하시오. 
> 출력결과 : 2000만원

In [106]:
print(cars['k3'][0],'만원',sep='')
print(f'{cars["k3"][0]}만원')

2000만원
2000만원

2.3 niro의 판매량을 출력하시오. 
> 출력결과 : 500대

In [110]:
print(cars["niro"][1],'대', sep='')
print(f'{cars["niro"][1]}대')

500대
500대

### cars에 아래 데이터를 추가하시오

| 차량명| 가격 | 판매량 |
|:---:|---:|---:| 
| ionic | 5000 | 670 |
> 출력결과 : {'niro': [3000, 500], 'kona': [2500, 400], 'k3': [2000, 300], 'ionic': [5000, 670]}

In [111]:
cars['ionic']=[5000,670]
print(cars)

{'niro': [3000, 500], 'kona': [2500, 400], 'k3': [2000, 300], 'ionic': [5000, 670]}

### cars 에서 key값으로만 구성된 리스트를 생성하시오
> 출력결과 : ['niro', 'kona', 'k3', 'ionic']

In [113]:
cars1 = list(cars.keys())
print(cars1)

['niro', 'kona', 'k3', 'ionic']

### 아래의 new_car 딕셔너리를 cars 딕셔너리에 추가하시오.(update 사용)
> 출력결과 : {'niro': [3000, 500], 'kona': [2500, 400], 'k3': [1900, 250], 'ionic': [5000, 670], 'morning': [800, 100]}

In [114]:
new_car={'k3':[1900, 250],'morning' : [800, 100]}

cars.update(new_car)
print(cars)

{'niro': [3000, 500], 'kona': [2500, 400], 'k3': [1900, 250], 'ionic': [5000, 670], 'morning': [800, 100]}