In [37]:
my_list1 = [10,10.1,'Python',True]
my_list1

[10, 10.1, 'Python', True]

In [38]:
type(my_list1)

list

In [39]:
# 리스트 튜플 셋 프로즌셋 딕셔너리
a = []
b = () 
c = {2} #데이터만 넣으면 set으로 
d = {2:3,1:2} #키 벨류값
e = frozenset({10,20,30,40,50}) #값을 넣은다음 추가하거나 변경할수 없다.
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>
<class 'frozenset'>

In [40]:
my_tuple1 = (10,10.1,'Python',True)
my_list1

[10, 10.1, 'Python', True]

In [41]:
type(my_tuple1)

tuple

In [42]:
my_list1 = list([1,2,3])
my_tuple1 = tuple([1,2,3])

In [43]:
print(my_tuple1)
print(my_list1)

(1, 2, 3)
[1, 2, 3]

In [44]:
my_list1[0]

1

In [45]:
my_list1[1]

2

In [46]:
my_list1[2]

3

In [47]:
vip_names=['Nweton','Euler','Gauss','Gwangrak']
vip_names[0]

'Nweton'

In [48]:
vip_names[0] = 'Kapler'

In [49]:
vip_names[0]

'Kapler'

In [50]:
vip_names=('Nweton','Euler','Gauss','Gwangrak')

In [51]:
vip_names[0] = 'Kapler' #튜플 리스트와 다르게 자료를 업데이트 하지 못한다 읽기전용으로 한다는 뜻

TypeError: 'tuple' object does not support item assignment

In [ ]:
my_list1 = [10,20,30,40,50]

In [ ]:
my_list1[0] #인덱싱

10

In [ ]:
my_list1[:] #모든 자료를 가져오고 싶다

[10, 20, 30, 40, 50]

In [ ]:
my_list1

[10, 20, 30, 40, 50]

In [ ]:
my_list1[: :] #시작 끝값 증가값 빈값을 주면 0 시작값 -1 끝까지 증가값 1

[10, 20, 30, 40, 50]

In [ ]:
my_list1[2:5:2] #증가값은 5번째 바로전까지

[30, 50]

In [ ]:
my_list1[0:4:1] #증가값 4는 50이전을 의미

[10, 20, 30, 40]

In [ ]:
my_list1[-1::-1]

[50, 40, 30, 20, 10]

In [ ]:
my_list1[-1:2:-1]

[50, 40]

In [ ]:
my_list1[-1:1:-1]

[50, 40, 30]

In [ ]:
my_list2 = [ [10,20,30,40,50],[20]]

In [ ]:
my_list2

[[10, 20, 30, 40, 50], [20]]

In [ ]:
my_list3 = [ [10,20,30],[40,50,60]]
my_list3

[[10, 20, 30], [40, 50, 60]]

In [ ]:
my_list4 = [ [10,20,30],
             [40,50,60] ]
my_list4[0]

[10, 20, 30]

In [ ]:
my_list4[1]

[40, 50, 60]

In [ ]:
my_list4[0][0]

10

In [ ]:
my_list4[1][0]

40

In [ ]:
my_list4[1][2]

60

In [ ]:
my_list4[0][0:2]

[10, 20]

In [ ]:
my_list5 = [ [10,20,[100,200,300]],[40,50,60] ]

In [ ]:
my_list5

[[10, 20, [100, 200, 300]], [40, 50, 60]]

In [ ]:
my_list5[0]

[10, 20, [100, 200, 300]]

In [ ]:
my_list5[0][1]

20

In [ ]:
my_list5[0][2]

[100, 200, 300]

In [ ]:
a = 1
b = 2
a+b

3

In [ ]:
my_list1= [10,20,30]
my_list2= [100,200,300]
my_list1+my_list2

[10, 20, 30, 100, 200, 300]

In [ ]:
my_list1 = [[10,20],[30,40]]
my_list2 = [[50,60],[70,80]]
my_list1+my_list2

[[10, 20], [30, 40], [50, 60], [70, 80]]

In [ ]:
my_list3 = my_list1+my_list2

In [ ]:
my_list3

[[10, 20], [30, 40], [50, 60], [70, 80]]

In [ ]:
my_list1

[[10, 20], [30, 40]]

In [ ]:
my_list2

[[50, 60], [70, 80]]

In [ ]:
my_list1 * 2

[[10, 20], [30, 40], [10, 20], [30, 40]]

In [ ]:
my_list1 = [10,20,30]

In [ ]:
old_list = [10,20,30,40,50] 
new_list = old_list #이렇게 하면 둘의 주소값이 같아짐

In [ ]:
old_list[0] = 100
new_list[0]

100

In [ ]:
old_list = [10,20,30,40,50]
new_list = old_list.copy() #카피 함수를 이용하면 복사는 하지만 다른 주소를 가지고 있음

In [ ]:
old_list

[10, 20, 30, 40, 50]

In [ ]:
old_list[0] = 100
old_list

[100, 20, 30, 40, 50]

In [ ]:
new_list

[10, 20, 30, 40, 50]

In [ ]:
num_list1 = [10,20,30]
num_list2 = [40,50,60]

In [ ]:
num_list1.extend(num_list2) #방법 1 extend()함수를 이용
num_list1 = num_list1 + num_list2 #방법2 두리스트 를 더해서 추가시키는 방법
num_list1 += num_list2 #방법 3 바로 2리스트를 더해서 추가하는 방법
num_list1

[10, 20, 30, 40, 50, 60, 40, 50, 60, 40, 50, 60]

In [ ]:
vip_names = ['Newton','Euler','Gauss']
type(vip_names)

list

In [ ]:
vip_names[3] = 'Kapler' #3인덱스 주소가 존재하지 않기떄문에 추가할수 없다

IndexError: list assignment index out of range

In [ ]:
vip_names.append('Kepler') #append 함수를 이용하면 추가할수있다 메모리값과함께
vip_names

['Newton', 'Euler', 'Gauss', 'Kepler']

In [ ]:
vip_names.remove('Kepler')
vip_names

['Newton', 'Euler', 'Gauss']

In [ ]:
vip_names

['Newton', 'Euler', 'Gauss', 'Kepler']

In [ ]:
vip_names.pop() #인덱스를 찾아서 지운다 값을 비우면 -1 부터 지운다 지우고 지운걸 출력한다

'Kepler'

In [ ]:
vip_names

['Euler', 'Gauss', 'Kepler']

In [ ]:
vip_names.clear() #다지운다

In [ ]:
vip_names

[]

In [ ]:
vip_names.insert(0,'Nweton')
vip_names

['Nweton']

In [ ]:
vip_names.insert(0,'Euelr')
vip_names

['Euelr', 'Nweton']

[]

In [ ]:
vip_names[0] = 'Euler'
vip_names

['Euler', 'Nweton']

In [ ]:
vip_names.insert(5,'Gauss') #5번 인덱스 를 주었지만 들어간 값이 없기때문에 제일 끝에 넣는다
vip_names

['Euler', 'Nweton', 'Gauss']

In [ ]:
vip_names.index('Gauss')

2

In [ ]:
vip_names.index('Euler')

0

In [ ]:
vip_names.count('Nweton')

1

In [ ]:
vip_names.count('GwangRak')

0

In [ ]:
vip_names.sort()
vip_names

['Euler', 'Gauss', 'Nweton']

In [ ]:
alphabet = ['b','c','a','d','e','f','g']

In [ ]:
alphabet.sort()
alphabet

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [ ]:
numbers = [2,4,5,2,6,7,8,2,1,2,3,4,5,6,7,10]
numbers.sort()
numbers

[1, 2, 2, 2, 2, 3, 4, 4, 5, 5, 6, 6, 7, 7, 8, 10]

In [ ]:
bools=[True,False,False,True]
bools.sort()
bools

[False, False, True, True]

In [ ]:
vip_names.reverse()
vip_names

['Nweton', 'Gauss', 'Euler']

In [ ]:
vip_names[0] = 'Newton'
vip_names

['Newton', 'Gauss', 'Euler']

In [ ]:
vip_names[-1::-1]

['Euler', 'Gauss', 'Newton']

In [ ]:
vip_names

['Newton', 'Gauss', 'Euler']

In [ ]:
vip_names = vip_names[-1::-1] #인덱싱으로 reverse() 함수 사용과 동일한 효과

In [ ]:
vip_names

['Euler', 'Gauss', 'Newton']

In [ ]:
data = [ ['Asia',24],
         ['America',25],
         ['Europe',20],
         ['Africa',28],
         ['Austrilia',23] ]

In [ ]:
data

[['Asia', 24],
 ['America', 25],
 ['Europe', 20],
 ['Africa', 28],
 ['Austrilia', 23]]

In [ ]:
vip_names = ('Newton','Euler')

In [ ]:
#세트

In [ ]:
my_set1 = {10,20,30}
my_set2 = {10,'Gwangrak',True}
print(my_set1)
print(my_set2)

{10, 20, 30}
{True, 10, 'Gwangrak'}

In [ ]:
my_set1[0] #set 은 인덱스번호가 없다

TypeError: 'set' object is not subscriptable

In [ ]:
my_set3 = {10,20,20,30} # 중복된 값은 합친다
my_set3

{10, 20, 30}

In [ ]:
my_list4 = [10,20,30,40,50]
my_set4 = set(my_list4)
my_set4

{10, 20, 30, 40, 50}

In [ ]:
b = set()
b

set()

In [ ]:
my_set1
my_set1.add(30)
my_set1.add(40)
my_set1

{10, 20, 30, 40}

In [ ]:
my_set1.update([30,50])
my_set1

{10, 20, 30, 40, 50}

In [ ]:
my_set1.discard(50)
my_set1

{10, 20, 30, 40}

In [ ]:
my_set1.discard(50) #없는 값을 지우라 해도 에러가 없다 이걸 이용해 절대 없어야 할값은 계속 discard로 지울수 있겠다
my_set1

{10, 20, 30, 40}

In [ ]:
my_set1.remove(30)
my_set1

{10, 20, 40}

In [ ]:
my_set1.remove(30) #없는 값을 지우라 하면 에러가 난다 
my_set1

KeyError: 30

In [ ]:
A = {10,20,30,40,50}
B = {40,50,60,70,80}
A

{10, 20, 30, 40, 50}

In [ ]:
B

{40, 50, 60, 70, 80}

In [ ]:
A | B
A.union(B) #같은 방법
B.union(A)

{10, 20, 30, 40, 50, 60, 70, 80}

In [ ]:
A & B
A.intersection(B)
B.intersection(A)

{40, 50}

In [ ]:
A - B
A.difference(B)
B.difference(A)

{60, 70, 80}

In [ ]:
A^B #겹치는 값만 뺀다
A.symmetric_difference(B)
B.symmetric_difference(A)

{10, 20, 30, 60, 70, 80}

In [ ]:
A = {10,20,30,40,50}
B = {40}

In [ ]:
A

{10, 20, 30, 40, 50}

In [ ]:
B

{40}

In [ ]:
B.issubset(A) #B에 있는게 A에 있는지? 부분집합 is로 시작하는 함수는 True 또는 False를 리턴한다. (bool 값)

True

In [ ]:
A.issubset(B) #A에 있는 모든값들이 B에 있는지?

False

In [ ]:
A.issuperset(B) #B에 있는게 모두 A에 있는지? 확대집합

True

In [ ]:
B.issuperset(A) #A 에 있는게 모든게 B에 모두 있는지

False

In [ ]:
A = frozenset([10,20,30,40,50])
B = frozenset([40,50,60,70,80])

In [ ]:
A|B #합집합

frozenset({10, 20, 30, 40, 50, 60, 70, 80})

In [ ]:
A&B #교집합

frozenset({40, 50})

In [ ]:
A-B #차집합

frozenset({10, 20, 30})

In [ ]:
A = frozenset([10,20,30,40,50])
B = set([40,50,60,70,80])

In [ ]:
A & B #아웃풋은 하나가 frozenset 이면 나머지가 아니라도 프로즌셋형으로 된다

frozenset({40, 50})

In [ ]:
vip_names = ['Newton','Kepler','Euler','Galileo']
door_list1 = ['Newton']
door_list2 = ['Euler','Galileo']

In [ ]:
door_list1 in vip_names

False

In [ ]:
door_list1[0] in vip_names

True

In [ ]:
ALL = set(vip_names)
D1 = set(door_list1)
D2 = set(door_list2)

In [ ]:
D1.issubset(ALL)

True

In [ ]:
D2.issubset(ALL)

True

In [ ]:
D_combined = D1 | D2
D_combined

{'Euler', 'Galileo', 'Newton'}

In [ ]:
D_combined.issubset(ALL)

True

In [ ]:
ALL-D_combined

{'Kepler'}

In [ ]:
Missing = ALL-D_combined

In [ ]:
Missing

{'Kepler'}

In [ ]:
door_list1 = ['Newton','Gwangrak']
door_list2 = ['Euler','Galileo']
D1 = set(door_list1)
D2 = set(door_list2)
Combined = D1 | D2
Combined

{'Euler', 'Galileo', 'Gwangrak', 'Newton'}

In [ ]:
Combined.issubset(ALL)

False

In [ ]:
ALL

{'Euler', 'Galileo', 'Kepler', 'Newton'}

In [16]:
#피보나치 수열 이해하기

user_in = int(input()) #user_in 에 정수 형 자료를 입력받는다

x = [0,1] # x 변수에 리스트 에 0,1 정수 자료 입력
y = [] #y 에 빈리스트

if user_in < 2: #만약 입력받은값이 2보다 작다면
    print(x[0]) # x 0번 인덱스를 표시
elif user_in <3: #2가 아니라 3보다 작다면
    print(x[0], x[1]) #x 0번 인덱스와 1번 인덱스를 출력
else: #위 조건이 모드 아니라면
    for i in range(2,user_in): #2 부터 시작해서 유저입력받은 곳까지 리스트 자료형을 만들고 i 에 대입한다
        y = x[-1] + x[-2] #y변수에 i 에 들어온 값 마지막 인덱스와 그앞 인덱스 값을 더해서 
        x.append(y) #x에 y를 append시켜준다

print(x) #x를 출력한다

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887, 9227465, 14930352, 24157817, 39088169, 63245986, 102334155, 165580141, 267914296, 433494437, 701408733, 1134903170, 1836311903, 2971215073, 4807526976, 7778742049, 12586269025, 20365011074, 32951280099, 53316291173, 86267571272, 139583862445, 225851433717, 365435296162, 591286729879, 956722026041, 1548008755920, 2504730781961, 4052739537881, 6557470319842, 10610209857723, 17167680177565, 27777890035288, 44945570212853, 72723460248141, 117669030460994, 190392490709135, 308061521170129, 498454011879264, 806515533049393, 1304969544928657, 2111485077978050, 3416454622906707, 5527939700884757, 8944394323791464, 14472334024676221, 23416728348467685, 37889062373143906, 61305790721611591, 99194853094755497, 160500643816367088, 259695496911122585, 420196140727489673, 679891637638612258, 1100087778366101931, 1779979416004714189, 2880067194370816120, 4660046610375530309, 7540113804746346429, 12200160415121876738, 19740274219868223167, 31940434634990099905, 51680708854858323072, 83621143489848422977, 135301852344706746049, 218922995834555169026, 354224848179261915075, 573147844013817084101, 927372692193078999176, 1500520536206896083277, 2427893228399975082453, 3928413764606871165730, 6356306993006846248183, 10284720757613717413913, 16641027750620563662096, 26925748508234281076009, 43566776258854844738105, 70492524767089125814114, 114059301025943970552219, 184551825793033096366333, 298611126818977066918552, 483162952612010163284885, 781774079430987230203437, 1264937032042997393488322, 2046711111473984623691759, 3311648143516982017180081, 5358359254990966640871840, 8670007398507948658051921, 14028366653498915298923761, 22698374052006863956975682, 36726740705505779255899443, 59425114757512643212875125, 96151855463018422468774568, 155576970220531065681649693, 251728825683549488150424261, 407305795904080553832073954, 659034621587630041982498215, 1066340417491710595814572169, 1725375039079340637797070384, 2791715456571051233611642553, 4517090495650391871408712937, 7308805952221443105020355490, 11825896447871834976429068427, 19134702400093278081449423917, 30960598847965113057878492344, 50095301248058391139327916261, 81055900096023504197206408605, 131151201344081895336534324866, 212207101440105399533740733471, 343358302784187294870275058337, 555565404224292694404015791808, 898923707008479989274290850145, 1454489111232772683678306641953, 2353412818241252672952597492098, 3807901929474025356630904134051, 6161314747715278029583501626149, 9969216677189303386214405760200, 16130531424904581415797907386349, 26099748102093884802012313146549, 42230279526998466217810220532898, 68330027629092351019822533679447, 110560307156090817237632754212345, 178890334785183168257455287891792, 289450641941273985495088042104137, 468340976726457153752543329995929, 757791618667731139247631372100066, 1226132595394188293000174702095995, 1983924214061919432247806074196061, 3210056809456107725247980776292056, 5193981023518027157495786850488117, 8404037832974134882743767626780173, 13598018856492162040239554477268290, 22002056689466296922983322104048463, 35600075545958458963222876581316753, 57602132235424755886206198685365216, 93202207781383214849429075266681969, 150804340016807970735635273952047185, 244006547798191185585064349218729154, 394810887814999156320699623170776339, 638817435613190341905763972389505493, 1033628323428189498226463595560281832, 1672445759041379840132227567949787325, 2706074082469569338358691163510069157, 4378519841510949178490918731459856482, 7084593923980518516849609894969925639, 11463113765491467695340528626429782121, 18547707689471986212190138521399707760, 30010821454963453907530667147829489881, 48558529144435440119720805669229197641, 78569350599398894027251472817058687522, 127127879743834334146972278486287885163, 205697230343233228174223751303346572685, 332825110087067562321196029789634457848, 538522340430300790495419781092981030533, 871347450517368352816615810882615488381, 1409869790947669143312035591975596518914, 2281217241465037496128651402858212007295, 3691087032412706639440686994833808526209, 5972304273877744135569338397692020533504, 9663391306290450775010025392525829059713, 15635695580168194910579363790217849593217, 25299086886458645685589389182743678652930, 40934782466626840596168752972961528246147, 66233869353085486281758142155705206899077, 107168651819712326877926895128666735145224, 173402521172797813159685037284371942044301, 280571172992510140037611932413038677189525, 453973694165307953197296969697410619233826, 734544867157818093234908902110449296423351, 1188518561323126046432205871807859915657177, 1923063428480944139667114773918309212080528, 3111581989804070186099320645726169127737705, 5034645418285014325766435419644478339818233, 8146227408089084511865756065370647467555938, 13180872826374098837632191485015125807374171, 21327100234463183349497947550385773274930109, 34507973060837282187130139035400899082304280, 55835073295300465536628086585786672357234389, 90343046356137747723758225621187571439538669, 146178119651438213260386312206974243796773058, 236521166007575960984144537828161815236311727, 382699285659014174244530850035136059033084785, 619220451666590135228675387863297874269396512, 1001919737325604309473206237898433933302481297, 1621140188992194444701881625761731807571877809, 2623059926317798754175087863660165740874359106, 4244200115309993198876969489421897548446236915, 6867260041627791953052057353082063289320596021, 11111460156937785151929026842503960837766832936, 17978720198565577104981084195586024127087428957, 29090180355503362256910111038089984964854261893, 47068900554068939361891195233676009091941690850, 76159080909572301618801306271765994056795952743, 123227981463641240980692501505442003148737643593, 199387062373213542599493807777207997205533596336, 322615043836854783580186309282650000354271239929, 522002106210068326179680117059857997559804836265, 844617150046923109759866426342507997914076076194, 1366619256256991435939546543402365995473880912459, 2211236406303914545699412969744873993387956988653, 3577855662560905981638959513147239988861837901112, 5789092068864820527338372482892113982249794889765, 9366947731425726508977331996039353971111632790877, 15156039800290547036315704478931467953361427680642, 24522987531716273545293036474970821924473060471519, 39679027332006820581608740953902289877834488152161, 64202014863723094126901777428873111802307548623680, 103881042195729914708510518382775401680142036775841, 168083057059453008835412295811648513482449585399521, 271964099255182923543922814194423915162591622175362, 440047156314635932379335110006072428645041207574883, 712011255569818855923257924200496343807632829750245, 1152058411884454788302593034206568772452674037325128, 1864069667454273644225850958407065116260306867075373, 3016128079338728432528443992613633888712980904400501, 4880197746793002076754294951020699004973287771475874, 7896325826131730509282738943634332893686268675876375, 12776523572924732586037033894655031898659556447352249, 20672849399056463095319772838289364792345825123228624, 33449372971981195681356806732944396691005381570580873, 54122222371037658776676579571233761483351206693809497]

In [13]:
# 딕셔너리 키 벨류 값으로

In [2]:
my_dict={ }
my_dict= dict()
my_dict

{}

In [4]:
my_dict={'A':'Dongsoo','B':'Jason','C':'David'}
print(my_dict['A'])
print(my_dict['B'])
print(my_dict['C'])

Dongsoo
Jason
David

In [6]:
my_dict={'B':'Dongsoo','A':'Jason','C':'David'} #시퀀스(인덱스번호)로 접근 불가 순서 상관없음
print(my_dict['A'])
print(my_dict['B'])
print(my_dict['C'])

Jason
Dongsoo
David

In [26]:
phone_book = {'Dongsoo' : '111-1111',
              'Jason' : '222-2222',
              'David' : '333-3333'}

In [15]:
phone_book['Dongsoo']

'111-1111'

In [18]:
phone_book.get('Dongsoo')

'111-1111'

In [9]:
phone_book["Gwangrak"]

KeyError: 'Gwangrak'

In [10]:
phone_book['David']='555-5555'
phone_book['David']

In [14]:
phone_book.update({'David':'666-6666'})
phone_book['David']

'666-6666'

In [21]:
'Jason' in phone_book
'Dongsoo' in phone_book

True

In [22]:
'Gwangrak' in phone_book

False

In [27]:
phone_book.pop('David')

'333-3333'

In [28]:
phone_book

{'Dongsoo': '111-1111', 'Jason': '222-2222'}

In [31]:
phone_book.clear()

In [32]:
phone_book

{}

In [33]:
my_list = [10,20,30,40,50]
my_tuple = (10,20,30,40,50)
my_set = {10,20,30,40,50}

In [34]:
len(my_list)

5

In [35]:
len(my_tuple)

5

In [36]:
len(my_set)

5

In [37]:
a=1
len(a)

TypeError: object of type 'int' has no len()

In [38]:
max(my_list)

50

In [39]:
min(my_list)

10

In [40]:
30 in my_list

True

In [41]:
100 in my_list

False

In [44]:
flag = 30 in my_list
flag

True

In [47]:
flag = 30 in my_tuple
flag

True

In [46]:
flag = 30 in my_set
flag

True

In [48]:
100 not in my_list

True

In [49]:
30 not in my_list

False

In [50]:
member_list = ['Kevin',24,'Python']
name=member_list[0]
age=member_list[1]
lan=member_list[2]

In [51]:
print(name)
print(age)
print(lan)

Kevin
24
Python

In [52]:
name, age ,lan = member_list #리스트 언패킹

In [53]:
name

'Kevin'

In [54]:
age

24

In [55]:
lan

'Python'

In [56]:
member_list

['Kevin', 24, 'Python']

In [57]:
name, *pdata = member_list

In [58]:
name

'Kevin'

In [59]:
pdata

[24, 'Python']

In [60]:
num_list =[10,20,30,40,50]
first, *rest = num_list

In [61]:
first

10

In [62]:
rest

[20, 30, 40, 50]

In [63]:
first, second , *rest = num_list

In [64]:
first

10

In [65]:
second

20

In [66]:
rest

[30, 40, 50]

In [67]:
range()

TypeError: range expected at least 1 argument, got 0

In [69]:
r = range(0,20,2)

In [70]:
r

range(0, 20, 2)

In [71]:
11 in r

False

In [72]:
10 in r

True

In [73]:
r.index(10)

5

In [74]:
r

range(0, 20, 2)

In [75]:
r[:5]

range(0, 10, 2)

In [76]:
list(range(10,50,1))

[10, 20, 30, 40]

In [ ]:
list(range(10,50,1,))

In [89]:
#String 문자열

In [90]:
a =1 
s = 'Python'

In [91]:
s= "Python"
s= '''Python

'''

In [92]:
s

'Python\n\n'

In [93]:
s = 'Python'

In [94]:
#문자열은 컨테이너 시퀀스 타입의 컨테이너
s[0]

'P'

In [95]:
s[1]

'y'

In [96]:
s[5]

'n'

In [97]:
s[-1]

'n'

In [98]:
s[0::2]

'Pto'

In [99]:
s[::3]

'Ph'

In [100]:
s[-1::-2]

'nhy'

In [101]:
s='python'

In [102]:
s.capitalize()

'Python'

In [103]:
s.find('t')

2

In [104]:
s.find('T')

-1

In [105]:
s.find('w')

-1

In [106]:
s = 'Python'

In [109]:
s.find('P')

0

In [110]:
s.index('P')

0

In [111]:
s.index('w') #인덱스는 에러를 던지고

ValueError: substring not found

In [112]:
s.find('w') #파인드는 -1 로 없다고 표현한다 에러가없다

-1

In [113]:
s.isalpha()

True

In [114]:
s = 'Python 3'

In [115]:
s.isalpha()

False

In [116]:
s= '3'

In [117]:
s.isalpha()

False

In [118]:
s.isalnum()

True

In [119]:
s ='Python 3'

In [120]:
s.isalnum() #스페이스가 들어갔기에 펄스

False

In [121]:
s= 'Python3'
s.isalnum()

True

In [122]:
s.isdecimal() #0~9까지 정수형데이터만 있는지

False

In [123]:
s = '3'
s.isdecimal()

True

In [124]:
s = "3.3"
s.isdecimal()

False

In [126]:
s = '121314'
s.isdigit()

True

In [127]:
s.isnumeric()

True

In [130]:
s = '3\u00B2'
s

'3²'

In [139]:
s.isdecimal()

False

In [132]:
s.isdigit()

True

In [133]:
s.isnumeric()

True

In [135]:
s = '\u00bc'
s

'¼'

In [136]:
s.isdecimal()

False

In [137]:
s.isdigit()

False

In [138]:
s.isnumeric()

True

In [140]:
s = 'Python'
s.islower()

False

In [141]:
s.isupper()

False

In [142]:
s = 'python'
s.islower()

True

In [143]:
s= 'PYTHON'
s.isupper()

True

In [144]:
s= 'PythonP'
s.replace('P','Q')

'QythonQ'

In [150]:
s = 'I like Python'
s.split(' ')

['I', 'like', 'Python']

In [151]:
s = 'I,like,Python'
s.split(' ')

['I,like,Python']

In [152]:
s = 'I,like,Python'
s.split(',')

['I', 'like', 'Python']

In [156]:
s = 'I like python\nHe likes Python\nShe likes Python'
print(s)

I like python
He likes Python
She likes Python

In [157]:
s.splitlines()

['I like python', 'He likes Python', 'She likes Python']

In [158]:
t = s.splitlines()

In [159]:
t[0]

'I like python'

In [160]:
t[2]

'She likes Python'

In [161]:
s = 'Python'
s.upper()

'PYTHON'

In [162]:
s.lower()

'python'

In [163]:
s.count('P')

1

In [164]:
s= 'PPython'
s.count('P')

2

In [165]:
s = 'Python'
v = 3
print(s,v)

Python 3

In [166]:
print(s+v)

TypeError: can only concatenate str (not "int") to str

In [168]:
print(s+str(v))
print(s+ ' ' + str(v))

Python3
Python 3

In [169]:
s = 'Python 3'
s = 'Python {}'

In [172]:
print(s)
s.format(1+2)

Python {}

'Python 3'

In [173]:
s = 'Python {} {}'
s.format(3,'Released')

'Python 3 Released'

In [174]:
s.format('Released',3)

'Python Released 3'

In [175]:
s = 'Python {1} {0}'
s.format(3,'Released')

'Python Released 3'

In [176]:
data = 4321.123456

In [177]:
data

4321.123456

In [179]:
print('DATA : '+str(data))

DATA : 4321.123456

In [180]:
print('DATA={}'.format(data))

DATA=4321.123456

In [181]:
print('DATA={:.2f}'.format(data))

DATA=4321.12

In [183]:
print('DATA={:.0f}'.format(data))

DATA=4321

In [187]:
print('DATA={:4.0f}'.format(data))
print('DATA={:5.0f}'.format(data))
print('DATA={:6.0f}'.format(data))

DATA=4321
DATA= 4321
DATA=  4321

In [188]:
print('DATA={:,}'.format(data))

DATA=4,321.123456

In [189]:
print('DATA={:.4d}'.format(data))

ValueError: Unknown format code 'd' for object of type 'float'

In [190]:
type(data)

float

In [192]:
print('DATA={:d}'.format(int(data)))

DATA=4321

In [193]:
print('DATA={:e}'.format(data))

DATA=4.321123e+03

In [194]:
print('DATA=%(x)f' % {'x': data})

DATA=4321.123456

In [195]:
print('DATA=%(x).2f' % {'x': data})

DATA=4321.12

In [196]:
print('DATA=%(x).0f' % {'x': data})

DATA=4321

In [197]:
print('DATA=%(x)5.0f' % {'x': data})

DATA= 4321

In [198]:
print('DATA=%(x)6.0f' % {'x': data})

DATA=  4321

In [199]:
print('DATA=%(x)7.0f' % {'x': data})

DATA=   4321