# 파이썬 실행방법
## 파이썬 대화형 인터프리터
- Ctrl + z -> Enter / exit() / sys.exit()
- 지난시간 배운내용
- 마지막 결과는 무조건 print 로 보여진다

In [4]:
10 + 10
10 - 10
10 * 10
10 / 10

1.0

In [6]:
print(10+10)
print(10-10)
print(10*10)
print(10/10)

20
0
100
1.0

In [7]:
print('Hello World')

Hello World

## 파이썬 IDLE
- IDLE(Integrated Development and Learning Environment) : 파이썬 프로그램 작성을 도와주는 통합 개발 환경
- 새파일 열기
- 줄번호 옵션 : [Options]-> [Show Line Numbers] 
- 저장 : [File] -> [Save] or Ctrl + S
- 실행 : [Run]->[Run Module] or F5
- 옵션 창에서 사이즈 조절

In [8]:
# 인터렉티브 셀
10 + 10

20

In [9]:
print('IDLE에서 파이썬 코드를')
print('작성해서 출력해보는')
print('예제')

IDLE에서 파이썬 코드를
작성해서 출력해보는
예제

# 출력하기
- **print()** : 각종 자료를 출력해주는 함수
- print() 구문 사이에 값을 넣으면, 바로 값이 출력 예) print(3)
- print() 구문 사이에 변수이름을 넣으면, 변수 값이 출력

## 기본 출력
* print(value1, value2, ..., )

In [10]:
# hello 출력하기
print('hello')
print("hello")

hello
hello

In [11]:
# hello, python 출력하기
print('hello','python')

hello python

In [12]:
# 계산식 출력하기 (1+1=2)
print('1+1=',1+1)

1+1= 2

## 구분자 지정
* print(value1, value2, ..., sep='구분자')

In [1]:
# ,로 구분 (hello,python)
print('hello','python', sep='.')

hello.python

In [4]:
# 공백없이 붙여서 출력 (1+1=2)
print('1 + 1 =',1+1,sep=' ')

1 + 1 = 2

In [20]:
print('hello','python', sep='******')

hello******python

## 끝문자 지정
* print(value1, value2, ..., end='끝문자')

In [25]:
# 공백으로 끝내기 (안녕하세요 반갑습니다)
print('안녕하세요', end=' ')
print('반갑습니다')

안녕하세요 반갑습니다

In [1]:
# !!로 끝내기(안녕하세요!!반갑습니다!!)
print('안녕하세요', end='!!')
print('반갑습니다', end='!!')

안녕하세요!!반갑습니다!!


## 미니계산기만들기

In [26]:
# 미니계산기 0516_cal.py

a = 100
b = 50

print(a, '+', b, '=', a+b)
print(a, '-', b, '=', a-b)
print(a, '*', b, '=', a*b)
print(a, '/', b, '=', a/b)

100 + 50 = 150
100 - 50 = 50
100 * 50 = 5000
100 / 50 = 2.0

In [31]:
# 미니계산기 0516_cal.py
# 사용자 입력으로 받는법 
a=int(input('첫번째 숫자 : ')) 
b=int(input('두번째 숫자 : '))

print(a, '+', b, '=', a+b)
print(a, '-', b, '=', a-b)
print(a, '*', b, '=', a*b)
print(a, '/', b, '=', a/b)

첫번째 숫자 : 25
두번째 숫자 : 45
25 + 45 = 70
25 - 45 = -20
25 * 45 = 1125
25 / 45 = 0.5555555555555556

## 여러 줄 한번에 출력하기

* 홑따옴표 세개(''') 혹은 쌍따옴표 세개(""")로 묶는다.

In [32]:
print('자세히 보아야 예쁘다.')
print('오래 보아야 사랑스럽다.')
print('너도 그렇다.')

자세히 보아야 예쁘다.
오래 보아야 사랑스럽다.
너도 그렇다.

In [33]:
print('''자세히 보아야 예쁘다.
오래 보아야 사랑스럽다.
너도 그렇다.''')

자세히 보아야 예쁘다.
오래 보아야 사랑스럽다.
너도 그렇다.

In [35]:
print('자세히 보아야 예쁘다.\n오래 보아야 사랑스럽다.\n너도 그렇다.')

자세히 보아야 예쁘다.
오래 보아야 사랑스럽다.
너도 그렇다.

# 입력처리
## input()
- 사용자 입력값을 받을 수 있다. 입력 받는 값은 문자열(str)이다.
- input으로 입력받은 값은 무조건 str. 정수로 사용하고 싶다면 int()사용
- int(intput())

In [38]:
a = input()
print(a, type(a))

 <class 'str'>

In [39]:
# 이름과 나이를 출력하는 프로그램 input() 0516_input.py

name = input('이름 : ')
age = input('나이 : ') # 숫자로 받고 싶으면 int()
print('이름은',name,'이고 나이는', age, '세 입니다.')

이름 : rak
나이 : 36
이름은 rak 이고 나이는 36 세 입니다.

In [41]:
# 시험성적 구하기
kor = int(input('국어점수 : '))
eng = int(input('영어점수 : '))
math = int(input('수학점수 : '))

total = kor + eng + math
mean = total/3

print('총점 : ', total)
print('평균 : ', mean)

국어점수 : 11
영어점수 : 11
수학점수 : 11
총점 :  33
평균 :  11.0

## 미니 계산기2

In [2]:
a = int(input('첫 번째 숫자 : '))
b = int(input('두번째 숫자 : '))

print('*******사칙연산 결과 입니다.*******')
print(a, '+', b, '=', a+b)
print(a, '-', b, '=', a-b)
print(a, '*', b, '=', a*b)
print(a, '/', b, '=', '몫 : ', a//b, '나머지 : ', a%b)

*******사칙연산 결과 입니다.*******
50 + 60 = 110
50 - 60 = -10
50 * 60 = 3000
50 / 60 = 몫 :  0 나머지 :  50

# Comment(주석)
- 코드에서 #으로 시작하는 뒷 부분은 실행되지 않음  
- python이 소스코드를 실행하면서 #를 만나면 무시
- 개발자(사람)가 보기 위한 용도로 사용

In [ ]:
## 주석에 대한 코드입니다##
print(1) # 주석
#print(2)  
print(3)

In [46]:
#간단한 계산기 프로그램
# a = 10
# b = 20
# print(a, '+', b, '=', a+b)
# print(a, '-', b, '=', a-b)
# print(a, '*', b, '=', a*b)
# print(a, '/', b, '=', a/b)

# indent(들여쓰기)
- 파이썬에서는 들여쓰기 자체가 문법
- 파이썬 들여쓰기 방법은 공백2칸, 공백4칸 등 여러가지 방법이 있지만 보통 공백 4칸을 사용
- indent(들여쓰기)는 파이썬에서 굉장히 중요!! 단순히, 코드를 깔끔히 정리하기 위해서 들여쓰기를 하는 것은 아니다.
- 본인이 맞게 코드를 짰다고 한다면, indent는 자동으로 적용.
- [tab]키를 한 번 누르면 indent가 1번 한 효과.

In [8]:
print('hello1')
print('hello2')

hello1
hello2

In [10]:
a = 3
b =2

## 홀짝 프로그램

In [13]:
num = 4

if num % 2 == 1 :
    print(num, '은 홀수 입니다.')
else : 
    print(num, '은 짝수 입니다.') 
    
print('파이썬은 들여쓰기가 중요합니다.')

4 은 짝수 입니다.
파이썬은 들여쓰기가 중요합니다.

# 오류 해석하기

## 파이썬에서는 대소문자를 구분한다.

In [3]:
# Print('hello')
print('hello')

hello

## 따옴표의 짝이 맞아야 한다.

In [4]:
# print('hello'')
print('hello')

hello

## 괄호의 짝이 맞아야 한다.

In [6]:
# print('hello'}
print('hello')

hello

# 변수

- 값이 변하는 수를 저장하는 그릇. 모든 프로그래밍 언어가 데이터를 다루기 위해 필요한 약속.

- 프로그래밍 언어마다 조금씩 다르며, 어떤 프로그래밍 언어에 대해 배울 때 제일 먼저 익혀야 하는 필수 관문.

- 변수라는 그릇에 정수를 담을 수도 있고, 긴 글을 담을 수도 있고, file을 담을 수도 있다. 우리가 재사용 하기 쉽게 **별명**을 지어준 것.

- 변수에 데이터를 저장할 때는 <kbd>=</kbd>를 사용한다.

## 변수에 값 할당하기
* 변수명 = 변수값
* 변수에 값이 할당될 때 변수값의 자료형에 따라 변수의 자료형이 결정된다.

In [21]:
name = 'james'
age = 20
height = 175.0
ischild = age<20
print(name, type(name))
print(age, type(age))
print(height, type(height))
print(ischild, type(ischild))

james <class 'str'>
20 <class 'int'>
175.0 <class 'float'>
False <class 'bool'>

## 변수 만들기
- 변수의 이름 : 알파벳(대소문자), 한글도 가능

In [ ]:
a = 'real'

In [ ]:
b = int(3)

In [ ]:
c = str('num')

- 알파벳 + 숫자 (가능)

In [ ]:
a1 = 'a1'

- 알파벳 + 언더바_(가능)

In [ ]:
a_ = 'a_'

- 언더바_ + 알파벳 (가능)

In [ ]:
_a = '_a'

- 숫자 + 알파벳 (불가능)

In [ ]:
# 1a = '1a' 안된다

- 언더바를 제외한 특수문자(불가능)

In [ ]:
# %a = %a 안됨

-  변수 이름 사이에 공백 (불가능)

In [ ]:
# a b = 'a b' 안됨

- 주로 변수는 **소문자 알파벳으로 생성**하고, 필요시에 숫자를 붙히는 방식이 일반적

In [1]:
test = 10
test01 = 20
print(test+test01)

test = 'Hello'
print(test)

30
Hello

## 변수 값, 자료형 출력하기
- 변수값 출력 : print(변수명)
- 변수자료형 출력 : print(type(변수명))

In [ ]:
print(name)
print(type(name))

In [11]:
num = 1
print (type(num))
print (num)

<class 'int'>
1

# 조건문(if~else)
- 들여쓰기!!
- if <조건식 :

In [2]:
a = 99

if a < 100 :
    print(a, '는 100 보다 작습니다.')
else :
    print(a, '는 100보다 같거다 큽니다.')

99 는 100 보다 작습니다.

In [3]:
#  홀짝 프로그램
num = int(input('숫자를 입력하세요 : '))

if num % 2 == 1 :
    print(num, '은 홀수 입니다.')
else : 
    print(num, '은 짝수 입니다.')

숫자를 입력하세요 : 5
5 은 홀수 입니다.

In [24]:
# 점수에 따라 학점 출력하기
# 90 >= : A, 80 >= : B, 70>= : C, 60 >= : D, 60 < :F

jumsu = int(input('점수를 입력하세요 :')) 
grade = ''

if jumsu >=90 :
    grade = 'A'
elif jumsu >=80 :
    grade = 'B'
elif jumsu >=70 :
    grade = 'C'
elif jumsu >=60 :
    grade = 'D'
else : 
    grade = 'F'
    
print(grade,'학점입니다')

점수를 입력하세요 :89
B 학점입니다

# 반복문 for
- for 변수 in range(시작값, 반복횟수+1, 증가값) :

In [ ]:
# 1부터 10 합 구하기
sum = 0

for i in range (1, 10+1, 1) : 
        sum = sum + i

print(sum)

In [28]:
# 1부터 100까지 홀수의 합
sum = 0

for i in range (1, 100+1, 2) : 
        sum = sum + i

print(sum)

2500

In [36]:
# 구구단(i*j)
# i=2~9단
# j=1~9
for i in range (2, 10, 1) :
    print('************************')
    print(i,'단')
    for j in range (1,10, 1) :
        print(i,'*',j,'=', i*j)

************************
2 단
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
************************
3 단
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
************************
4 단
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
************************
5 단
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
************************
6 단
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
************************
7 단
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
************************
8 단
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
************************
9 단
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [47]:
# 구구단2 : 구구단을 거꾸로 출력하기
# i=2~9단
# j=1~9
for i in range (9 ,1,-1) :
    print('************************')
    print(i,'단')
    for j in range (9,0,-1) :
        print(i,'*',j,'=', i*j)

************************
9 단
9 * 9 = 81
9 * 8 = 72
9 * 7 = 63
9 * 6 = 54
9 * 5 = 45
9 * 4 = 36
9 * 3 = 27
9 * 2 = 18
9 * 1 = 9
************************
8 단
8 * 9 = 72
8 * 8 = 64
8 * 7 = 56
8 * 6 = 48
8 * 5 = 40
8 * 4 = 32
8 * 3 = 24
8 * 2 = 16
8 * 1 = 8
************************
7 단
7 * 9 = 63
7 * 8 = 56
7 * 7 = 49
7 * 6 = 42
7 * 5 = 35
7 * 4 = 28
7 * 3 = 21
7 * 2 = 14
7 * 1 = 7
************************
6 단
6 * 9 = 54
6 * 8 = 48
6 * 7 = 42
6 * 6 = 36
6 * 5 = 30
6 * 4 = 24
6 * 3 = 18
6 * 2 = 12
6 * 1 = 6
************************
5 단
5 * 9 = 45
5 * 8 = 40
5 * 7 = 35
5 * 6 = 30
5 * 5 = 25
5 * 4 = 20
5 * 3 = 15
5 * 2 = 10
5 * 1 = 5
************************
4 단
4 * 9 = 36
4 * 8 = 32
4 * 7 = 28
4 * 6 = 24
4 * 5 = 20
4 * 4 = 16
4 * 3 = 12
4 * 2 = 8
4 * 1 = 4
************************
3 단
3 * 9 = 27
3 * 8 = 24
3 * 7 = 21
3 * 6 = 18
3 * 5 = 15
3 * 4 = 12
3 * 3 = 9
3 * 2 = 6
3 * 1 = 3
************************
2 단
2 * 9 = 18
2 * 8 = 16
2 * 7 = 14
2 * 6 = 12
2 * 5 = 10
2 * 4 = 8
2 * 3 = 6
2 * 2 = 4
2 * 1 = 2