**Data type(자료형) 이란**

- 모든 프로그래밍 언어가 데이터를 다루기 위해 필요한 약속.
- 프로그래밍 언어마다 조금씩 다르며, 어떤 프로그래밍 언어에 대해 배울 때 제일 먼저 익혀야 하는 필수 관문.
- 프로그래밍 언어에서는 변수(Variable)에서 데이터를 저장/관리 하며 변수에 대한 개념을 통해 데이터를 사용할 수 있다.
- type() 함수를 통해 데이터의 타입을 알수 있다.

# 숫자 데이터 (Numeric Data Types)

- 숫자형 데이터란, 정수/실수/복소수/2진수/8진수/16진수를 포함하며 가장 많이 사용하는 데이터 타입중에 하나다.
- 숫자 데이터는 우리가 알고 있는 대부분의 연산을 그대로 지원한다. 사칙연산, 나머지 구하기, 몫 구하기, 거듭제곱 등

## 정수형 (Int)

In [1]:
1+1

2

In [2]:
a = 10
b = 6

a+b
type(a)

int

In [10]:
# 1 은 참, 0은 거짓으로 취급
a = 0
if a  :
    print('a는 참')
else :
    print('asms 거짓')

asms 거짓

## 실수형 (float)

In [11]:
c = 3.14
c
type(c)

float

In [12]:
c + 3.14

6.28

In [13]:
d = 4
c - d

-0.8599999999999999

In [28]:
pi = 3.14 #원주율
r = 10   #반지름

# 원의 둘래 :2*pi*r
# 원의 반지름 : pi*r*r
# 원주율, 반지름, 원의 둘레 , 원의 넓이

# 불형(bool)
- 참(True)이나 거짓(False)만 저장, 논리형이라고 한다.

In [31]:
a = True
type(a)

bool

In [30]:
0 == False

True

In [29]:
2>1

True

# 문자열(str)

- 문자열 데이터란, 문자(character)의 나열을 의미한다. e.g. "Hello world"
- <kbd>'</kbd>와 <kbd>"</kbd> 두 가지의 기호를 통해 문자열을 나타낸다. 즉 ' 부터 ' 까지 또는 " 부터 " 까지 하나의 문자열이다.

## 특수 문자 표현 (escape code) 
- 프로그래밍 할 때 사용할 수 있도록 미리 정의해 둔 '문자조합'
- 주로 출력물을 보기 좋게 정렬하는 용도로 사용

| 코드 | <center>설명</center>|
| --- | :--- |
| \n | 문자열 안에서 줄을 바꿀 때 사용 |
| \t | 문자열 안에서 탭 간격을 줄 때 사용 |
| \\', \\" | 작은 따옴표('), 큰 따옴표(")를 그대로 표현할 때 사용 |
| \\\ | 문자 \를 그대로 표현할때 사용 |
| \b | 백스페이스 |

In [37]:
print('hellow\"tworld')

hellow"tworld

In [40]:
print(" 동해물과 백두산이 마르고 닳도록 \n 하느님이 보우하사 우리나라 만세 \n 무궁화 삼천리 화려강산 \n 대한사람 대한으로 길이 보전하세")

 동해물과 백두산이 마르고 닳도록
 하느님이 보우하사 우리나라 만세
 무궁화 삼천리 화려강산
 대한사람 대한으로 길이 보전하세

In [43]:
print(''' 동해물과 백두산이 마르고 닳도록 
 하느님이 보우하사 우리나라 만세 
 무궁화 삼천리 화려강산 
 대한사람 대한으로 길이 보전하세''')

 동해물과 백두산이 마르고 닳도록
 하느님이 보우하사 우리나라 만세
 무궁화 삼천리 화려강산
 대한사람 대한으로 길이 보전하세

In [56]:
#'안녕하세요'라고 말했습니다.
# "배가 고픕니다"라고 생각했습니다.
print('\'안녕하세요\'라고 말했습니다.')
print('\"배가 고픕니다\"라고 생각했습니다.')

'안녕하세요'라고 말했습니다.
"배가 고픕니다"라고 생각했습니다.

In [52]:
s1=("'안녕하세요'라고 말했습니다.")
s2=('"배가 고픕니다"라고 생각했습니다.')
print(s1)
print(s2)

'안녕하세요'라고 말했습니다.
"배가 고픕니다"라고 생각했습니다.

In [57]:
# 아래 s3와 s4를 문자열로 만들어서 출력해봅시다.
s3 = "I'm a boy."
s4 = '"Python is very easy." he says.'
print(s3)
print(s4)

I'm a boy.
"Python is very easy." he says.

In [ ]:
# 아래 s3와 s4를 문자열로 만들어서 출력해봅시다.

## 문자열 연산
- 문자열 연결 연산자 : +
- 문자열 반복 연산자 : *

In [62]:
s1 = "Hello"
s2 = "World"
se3 = s1 +' '+ s2 # 가운데 빈 칸을 넣고 싶을 땐 어떻게 해야할까?
se3

'Hello World'

In [67]:
s2 = "="
print(s2*30)
print("Life is short")
print("Life is short"+"You need python")
print(s2*30)

==============================
Life is short
Life is shortYou need python
==============================

## 문자열 인덱싱


| H | e | l | l | o |   | W | o | r | l | d |
| ---- | ---- | ---- | ---- | ---- | ---- | ---- | ---- |---- | ---- | ---- |
|  [0] |  [1] |  [2] |  [3] |  [4] |  [5] |  [6] |  [7] | [8] |  [9] | [10] |
|  [-11] |  [-10] |  [-9] |  [-8] |  [-7] |  [-6] |  [-5] |  [-4] | [-3] |  [-2] | [-1] |

In [74]:
s3 = 'Hello World'
print(s3[0], s3[3], s3[7])
len(s3)

H l o

11

In [80]:
print(s3[-1], s3[-11], s3[-2])

d H l

* 범위 밖의 인덱스를 사용하면?

In [78]:
a = 'Hello World'

**연습문제1) 문자열을 입력 받아서 거꾸로 출력하는 프로그램**

In [90]:
# 문자열을 입력 받아서 거꾸로 출력하는 프로그램
# 입력 : 문자열
# 처리 : for(문자[-1],-len(문자),-1) 
# 출력 : 문자열을 거꾸로 출력
# a='hello world'
# b=len(a)
# for i in range (-1,-(b+1),-1):
#     print(a[i])

#양수 인덱스
a = 'hello world'
b = len(a)

print()
for i in range(b-1,-1,-1):
            print(a[i], end='')

dlrow olleh

## 문자열 슬라이싱
- 원하는 문자만 자를 수 있는 기능
- 문자열[시작인덱스:끝나는 인덱스:증가값]

### 양수 인덱스로 슬라이싱

In [93]:
a = 'Hello World'
print(a)
print(a[0:5:1])
print(a[0:10:2])

Hello World
Hello
HloWr

### 음수 인덱스로 슬라이싱

In [96]:
a = 'Hello World'
a[-11:-6]

'Hello'

### 다양한 문자열 슬라이싱

- 첫번째와 마지막 인덱스는 생략 가능

In [99]:
a = 'Hello World'

# 'Hello'
print(a[:5])

# 'World'
print(a[6:])

# 'Hello World'

Hello
World

- 한 문자씩 건너띄어 출력하기

In [102]:
a = 'Hello World'
print(a[::2])

HloWrd

- 역순으로 출력하기 : 간격을 마이너스(-)로 하면 역순으로 출력된다.

In [105]:
a = 'Hello World'
a[::-1]

'dlroW olleH'

**연습문제2) '20220518Rainy' 문자열을 슬라이스 해서 `2022 년 05 월 18 일 Rainy` 의 형태로 출력하시오.**

In [5]:
a = '20220518Rainy'
# a[:4]+' 년'+' '+a[4:6]+' 월'+' '+a[6:8]+' 일'+' '+ a[8:13:]

year = a[:4]
month = a[4:6]
day = a[6:8]
weather = a[8:]

print(year,'년',month,'월',day,'일',weather)

2022 년 05 월 18 일 Rainy

**연습문제3) 주민등록번호 뒤 6 가리기**
- 주민등록번호가 하나 주어집니다.
- 뒤에 6자리를 *로 만들어서 소중한 정보를 지키세요

In [7]:
# test용 주민번호, 4가지 다 넣어서 테스트 해보세요.
data="""
id1 911210-1234567
id2 900101-2111111
id3 200112-3111111
id4 200112-4123987
"""

result=[]
for line in data.split("\n"):
    word_res=[]
    for word in line.split(" "):
        if len(word)==14 and word[:6].isdigit() and word[7:].isdigit():
            w=word[0:6]+"-"+"*******"
            word_res.append(w)
    result.append(" ".join(word_res))  
print("\n".join(result))

911210-*******
900101-*******
200112-*******
200112-*******

**연습문제4) 아래 조건에 맞는 코드를 작성하시오**
- 숫자 하나를 입력 받는다.(숫자는 무조건 두 자리 이상의 자연수를 입력한다)
- 입력받은 숫자의 십의 자리수를 출력한다.
- hint : str인덱스를 이용하여 구하는 방법, 숫자 연산을 통해 구하는 방법

In [13]:
# number = (input("숫자를 입력해주세요 : "))
number = '123123123'
# str으로 하는 방법
tens = number[-2]
print(tens)
# 숫자 연산을 통한 방법
tens = int(number) %100 //10
print(tens)

2
2

## 문자열 Formatting

- "현재 온도는 18도 입니다."
- "현재 온도는 20도 입니다."
- "현재 온도는 21도 입니다."
- 위와 같이 문자열의 특정한 값만 바꾸어 주는 기법

### 문자열 포매팅
#### 문자열 포맷코드
| 코드 | <center>설명</center> | 코드 | <center>설명</center> |
|----|:----|----|:----|
| %s | 문자열(String) | %d | 정수(Integer)|
| %c | 문자 1개(Character)| %f | 부동소수(Floateing-point)|

**- 숫자 바로 대입**
- 문자열 안에서 숫자를 넣고 싶은 자리에 %d를 넣고 삽입할 숫자는 뒤에 있는 % 다음에 넣는다.   
- 여깃에서 **%d**를 문자열 포맷코드라 부른다

In [15]:
'i eat %d apples.' %3

'i eat 3 apples.'

**- 문자열 바로 대입**

In [16]:
'i eat %s apples.' %'five'

'i eat five apples.'

**- 변수를 사용하여 대입**

In [17]:
apple = 3
'i eat %d apples.' % apple

'i eat 3 apples.'

**- 2개 이상의 값 넣기**

In [20]:
#1 사과는 개 있다.
fruit = '사과'
count =4

print('%s는 %d 개 있다.'%(fruit, count))

사과는 4 개 있다.

In [23]:
# 원숭이 엉덩이는 빨개
monkey = '원숭이'
hip = '엉덩이'
color='빨개'

print('%s %s 는 %s' %(monkey,hip,color))

원숭이 엉덩이 는 빨개

**- %s 는 어떤 형태의 값이든 문자열로 변환한다**

In [25]:
'i eat %s apples.' % 3

'i eat 3 apples.'

#### 포맷코드와 숫자 함께 사용하기

**- 정렬과 공백**

In [27]:
"%10s"%"hi"

'        hi'

In [29]:
print("%-10s" %"hi")
print("%-10sjane" %"hi")

hi
hi        jane

**- 소수점 표현하기**

In [39]:
print("%f"%3.142321313153)
print("%0.4f"%3.142321313153)
print("%10.4f"%3.142321313153)
print("%1.4f"%3.142321313153)

3.142321
3.1423
    3.1423
3.1423

**- 기호 표현하기**

In [43]:
print('%+d'%4)
print('%+d'%-4)
print('%+10d'%-4)

+4
-4
        -4

### format()를 사용한 포매팅
- 문자열의 format()를 사용하면 좀 더 발전된 스타일로 문자열의 포맷을 지정할 수 있다.

**- 숫자 바로 대입**

In [46]:
'i eat {0} apples.'.format(3)

'i eat 3 apples.'

**- 문자열 바로 대입**

In [47]:
'i eat {0} apples.'.format("five")

'i eat five apples.'

**- 숫자 값을 다진 변수로 대입하기**

In [48]:
apple = 3
'i eat {0} apples.'.format(apple)

'i eat 3 apples.'

**- 2개 이상의 값 넣기**

In [55]:
#1 사과는 개 있다.
fruit = "사과"
count = 4
print('{0}는 {1}개 있다'.format(fruit,count))

사과는 4개 있다

**- 이름으로 넣기**

In [56]:
print('{fruit}는 {count}개 있다'.format(fruit='orage',count=10))

orage는 10개 있다

**-인덱스와 이름을 혼용해서 넣기**

In [57]:
'{}는 {count}개 있다.'.format(fruit,count=5)

'사과는 5개 있다.'

**- 왼쪽/오른쪽/가운데 정렬**

In [60]:
'{0:<10}'.format('hi')

'hi        '

In [62]:
'{0:>10}'.format('hi')

'        hi'

In [66]:
'{0:^10}'.format('hi')

'    hi    '

**- 공백채우기**

In [67]:
'{0:=^10}'.format('hi')

'====hi===='

**- 소수점 표현하기**

In [69]:
y = 3.23423423
print('{0:0.4f}'.format(y))
print('{0:10.4f}'.format(y))

3.2342
    3.2342

In [73]:
y = 3.23423423
print('{0:+0.4f}'.format(y))
print('{0:<+10.4f}'.format(y))
print('{0:010.4f}'.format(y))
print('{0:+010.4f}'.format(y))

+3.2342
+3.2342
00003.2342
+0003.2342

**연습문제5) 돈(예 : 7777777)을 입력하면 5만원, 1만원, 5천원, 천원 지폐로 교환하는 프로그램을 format()를 사용하여 만들기**

In [96]:
money = int(input("지폐로 바꿀 금액을 입력하세요 : "))

coin50000 = money // 50000
money %= 50000
coin10000 = money // 10000
money %= 10000
coin5000 = money // 5000
money %= 5000
coin1000 = money // 1000
money %= 1000
coin500 = money // 500
money %= 500
coin100 = money // 100
money %= 100
coin50 = money // 50
money %= 50
coin10 = money // 10
money %= 10

print('5만원 : {}개'.format(coin50000))
print('1만원 : {}개'.format(coin10000))
print('5천원 : {}개'.format(coin5000))
print('1천원 : {}개'.format(coin1000))
print('500원 : {}개'.format(coin500))
print('100원 : {}개'.format(coin100))
print('50원 : {}개'.format(coin50))
print('10원 : {}개'.format(coin10))
print('1원동전 : {}개'.format(money))

지폐로 바꿀 금액을 입력하세요 : 12312313123
5만원 : 246246개
1만원 : 1개
5천원 : 0개
1천원 : 3개
500원 : 0개
100원 : 1개
50원 : 0개
10원 : 2개
1원동전 : 3개

### f string 포매팅

In [1]:
f'i eat {3} apples.'

'i eat 3 apples.'

In [3]:
name='홍길동'
age=30
f'나의 이름은 {name} 나이는 {age} 입니다'

'나의 이름은 홍길동 나이는 30 입니다'

**연습문제6) 다음의 문장을 문자열 포맷팅, format(), fstring을 이용하여 출력하시오**
- 사과는 4개 있다.
- 원숭이 엉덩이는 빨개

In [ ]:
fruit= '사과'
count=4

In [116]:
fruit= '사과'
count=4
print(f'{fruit} 는 {count}개 있다.')
print('{0} 는 {1}개 있다.'.format(fruit,count))
print('%s 는 %d개 있다.'% (fruit,count))

사과 는 4개 있다.
사과 는 4개 있다.
사과 는 4개 있다.

In [22]:
print('%s %s 는 %s'%('원숭이','엉덩이','빨개'))
print('{} {} 는 {} '.format('원숭이','엉덩이','빨개'))
print(f'{"원숭이"} {"엉덩이"} 는 {"빨개"}')

원숭이 엉덩이 는 빨개
원숭이 엉덩이 는 빨개
원숭이 엉덩이 는 빨개

**연습문제7) 다음에 조건을 만족하는 코드를 완성하시오.**
- 개인정보를 사용자로부터 입력받아, 주민등록등본을 출력해주는 프로그램을 제작하려고 한다. 입력받은 이름을 name이라는 변수에, 주민번호를 num라는 변수에 입력받는다.
- 출력은 이름 : 홍길동, 주민등록번호 : 900101-3******

In [46]:
#input 으로 하는법 질문하기
name = '홍길동'
num = '8502121-1251112'
print(f' 이름 : {name}, 주민등록번호 : ({num[:6]}-*******)')

 이름 : 홍길동, 주민등록번호 : (850212-*******)

## 문자열 관련 함수들  
- 문자열 자료형은 자체적으로 함수를 가지고 있다. 다른말로 **문자열 내장함수**라 한다.
- 문자열 이름뒤에 .을 붙인 다음에 함수이름을 써주면 된다.

### 문자 개수 세기 count()

In [55]:
# 문자열 중 b의 개수를 돌려준다.
a = 'hobby'
a.count('b')

2

### 위치 알려주기 find()
- 처음으로 나온 위치를 반환

In [61]:
a= 'python is the best choice'
print(a.find('b'))
print(a.find('t'))
print(a.find('z'))
print(a.find('o'))

14
2
-1
4

### 위치알려주기 index()
- 처음으로 나온 위치를 반환.
- 존재하지 않은 문자를 찾으면 오류발생

In [122]:
a= 'python is the best choice'
print(a.index('b'))
print(a.index('t'))
# print(a.index('z'))
print(a.index('o'))

14
2
4

### (영어) 대소문자 바꾸기 upper(), lower()

In [66]:
s = "hi"
s.upper()

'HI'

In [67]:
s = "Hi"
s.lower()

'hi'

### 문자 공백 지우기 strip() / lstrip()  / rstrip()

In [71]:
s = "  hi    "
print(s.strip())
print(s.lstrip())
print(s.rstrip())

hi
hi
  hi

### 문자열 삽입 join()

In [76]:
#ex)abcd -> a.b.c.d 로 바꾸고싶다

print('.'.join('abcd'))

a.b.c.d

### 문자열  나누기 split()

In [1]:
# 기사
s = "Life is too short."
s2= s.split()
type(s2)

list

In [93]:
s1 = '삼성전자/애플/샤오미'
print(s1)
print()
s1 = s1.split('/')
print(s1)
print()
s1 = "★".join(s1)
print(s1)

삼성전자/애플/샤오미

['삼성전자', '애플', '샤오미']

삼성전자★애플★샤오미

### 문자열 바꾸기 replace() 
★궁금한것 문자열 읽어올때 대소문자 구분해야 읽어옴

In [98]:
s = "Life is too short."
s.replace("Life","This is pencil")

'This is pencil is too short.'

In [145]:
s = "  hi    "
print(s.strip())
print(s.lstrip().replace(' ','*'))

hi
hi****

**연습문제8)사용자의 이름을 입력받아 성과 이름 순서를 바꾸어서 출력하는 프로그램을 작성하세요.**   
- 성과 이름은 공백으로 구분하여 입력니다.

In [136]:
# 사용자의 영문이름 입력받기 (성과 이름은 공백으로 구분)
full_name='gwangrak CHOI'# input('영문이름(성과 이름은 공백으로 구분하세요):')
#공백 위치 찾기
space=full_name.find(' ')
print(space)
#이름
first_name=full_name[:space]
#성
last_name=full_name[space+1:]
print(f'성 : {last_name}, 이름: {first_name}')
print(f'성 : {last_name}\n이름: {first_name}')

8
성 : CHOI, 이름: gwangrak
성 : CHOI
이름: gwangrak