**연속형 데이터 (Sequential Data Types)**

**Q. 숫자 100개를 한번에 다루려고 한다. <=> 하나의 변수에 숫자 100개를 저장하고 싶다. 어떻게 해야할까?**   
*A. 연속형 데이터 타입을 사용하자!*

-  연속형 데이터란, 하나의 변수가 하나의 데이터를 가지고 있던 숫자형 데이터와 달리, 여러개의 데이터를 하나의 변수에 가지고 있는 데이터 타입이다.
- 연속형 데이터 타입에는 list, tuple, set, dict(dictionary), str(string)이 있다. (문자열을 문자들의 나열로 인식하기 때문에, 연속형 데이터이다.)
- 연속형 데이터의 크기 제한은 없다. 하지만, 사용하는 컴퓨터의 가용 메모리 용량을 인지하며 사용해야 한다.
- 각 연속형 데이터 타입마다 특징이 다르다. 그 특징을 파악하여 용도에 맞는 데이터 타입을 사용하는 것이 중요하다.

# 리스트(list)


- 가장 많이 사용되는 연속형 데이터 타입이자, 굉장히 유연한 구조를 가지고 있어 대부분의 데이터를 편하게 다룰 수 있다.
- 파이썬에서 <kbd>[</kbd> 와 <kbd>]</kbd>를 이용하여 표현한다. a = [1, 2, 3]
- 리스트의 원소는 쉼표로 구분되며, 리스트의 원소(요소, 값..)는 아무 데이터 타입이나 가능하다. 리스트조차 가능하다.
- 리스트를 이용하면 파이썬에서 다루는 대부분의 데이터는 아무 무리없이 다룰 수 있다. 하지만 수정이 자유롭기 때문에 수정을 하면 안되는 경우에는 사용하면 안된다.

## 리스트를 만드는 방법

In [11]:
# 정수 1, 2, 3, 4, 5를 원소로 가지는 리스트를 만듭니다.
list_a =[1,2,3,4,5]
print (type(list_a))
print (list_a)

In [13]:
# 빈 리스트를 만드는 방법
list_a=[]
print (type(list_a))
print (list_a)

list

In [84]:
# 빈 리스트를 만드는 같은 방법
list_a2 = list()
print (type(list_a2))
print(list_a2)

<class 'list'>
[]

In [15]:
# 리스트에는 다양한 타입의 원소를 다 포함할 수 있다. 심지어 리스트도.
list_a3 = [1, 'Hello', 3.14, [1, 2, 3]]

[1, 'Hello', 3.14, [1, 2, 3]]

In [30]:
list_a4 = [[1, 2],[3, 4]] # 2x2 행렬 표현처럼 사용할 수 있다. 이를 2차원 리스트라고 한다.
list_a4 # 실제로는 2개의 리스트를 원소로 가지는 리스트이다.

[[1, 2], [3, 4]]

### Indexing

- 연속형 데이터들은 하나의 변수에 여러가지 데이터를 가지기 때문에 여러 데이터를 접근하는 방법이 필요하다.
- 이를 위해 indexing이라는 기법이 있다. 말그대로 index를 통해 접근(access)하는 방법이다.
- 리스트의 index는 맨 앞부터 0으로 시작하며, 1씩 증가하는 정수 index를 사용한다.
- list_a = [ 10, 20, 30, 40, 50 ] 이면 첫번째 원소는 index가 0이고, 두번째 원소는 index가 1이다.
- 파이썬에서는 음수 index도 제공하는데, 이는 뒤쪽부터 접근할 수 있는 방법이다. 
- 뒤에서 첫번째(맨 마지막)원소는 index가 -1이고, 뒤에서 두번째 원소는 index가 -2이다.
- index를 통해 접근하는 방법은 해당 변수이름에 [ ]를 사용하며, [ ]안에 index를 넣어서 접근할 수 있다.
| 10 | 20 | 30 | 40 | 50 | 
| ---- | ---- | ---- | ---- | ---- |
|  [0] |  [1] |  [2] |  [3] |  [4] | 
|  [-5] |  [-4] |  [-3] |  [-2] |  [-1] |

In [88]:
list_a = [10, 20, 30, 40, 50]
list_a

[10, 20, 30, 40, 50]

In [18]:
# list_a의 첫번째 원소
list_a = [10, 20, 30, 40, 50]
list_a[0]
list_a[-len(list_a)]

10

In [21]:
# list_a의 마지막 원소
list_a = [10, 20, 30, 40, 50]
list_a[-1]
list_a[len(list_a)-1]

50

In [22]:
# list_a에 없는 index는? 에러가난다
list_a = [10, 20, 30, 40, 50]
list_a[5]

IndexError: list index out of range

In [23]:
# list_a의 마지막 원소dd
list_a = [10, 20, 30, 40, 50]
list_a[len(list_a)-1]dd

50

In [80]:
# indexing을 이용한 연산. list_a의 첫번째, 두번째 원소를 가져다가 더해봅니다.
print (list_a[0]+list_a[1])

30

In [82]:
list_a2 = [10, [20, 30], 50]
print (list_a2[0]+list_a2[1][0])

30

In [28]:
# list_a2에서 20에 접근하기 위해 indexing을 해보자.
list_a2[1],[0]

([20, 30], [0])

In [38]:
list_a2 = [10, [20, 30, 40], 50, [60, 70, 80]]

#30
print (list_a2[1][1])

#80
print (list_a2[3][2])

30
80

In [46]:
list_a2 = [10, [20, 30,[100,200], 40], 50, [60, 70, 80]]  

#100  3차원
print (list_a2[1][2][0])

100

### Slicing

- 슬라이싱은 리스트의 일부분만 잘라낸다는 의미이다. (말그대로 슬라이싱)
- 리스트의 일부만 사용하고 싶을 때 쓰는 기법
- 리스트의 index와 <kbd>:</kbd>를 사용하여 슬라이싱을 할 수 있다.
- 리스트[시작인덱스 : 끝인덱스+1 : 증가값)
- list_a = [10, 20, 30, 40]일때list_a[0:2:1]는 [10, 20]이다.

In [5]:
list_a = [10, 20, 30, 40, 50]
list_a

[10, 20, 30, 40, 50]

In [62]:
# list_a의 첫번째부터 index 2 까지 자르기
print (list_a [0:2:1])

[10, 20]

In [63]:
# list_a의 두번째부터 index 4 까지 자르기
print (list_a [1:4:1])

[20, 30, 40]

In [64]:
# 시작 index를 생략하면, 자동으로 index는 0이 된다. (맨 처음)
list_a = [10, 20, 30, 40, 50]
print (list_a [:2])

[10, 20]

In [68]:
list_a[1:] #인덱스 2번째 부터 끝까지

[20, 30, 40, 50]

In [71]:
print (list_a[::],list_a[:]) #맨 끝 증가값은 생략 가능하다

[10, 20, 30, 40, 50] [10, 20, 30, 40, 50]

## 리스트 연산하기

> 문자열때와 마찬가지로, 리스트도 더하기, 곱하기 연산이 존재한다.

### +  :  연결

In [87]:
list_a=[10,20,30] # 그냥 합쳐서 보여준것일뿐 리스트 안에 값이 변한건 없다
list_a2=[40,50]
list_a+list_a2

[10, 20, 30, 40, 50]

- 리스트명.extend(추가할 리스트)

In [88]:
list_a1 = [10, 20, 30] #추가 시켜서 리스트 자체에 포함된다
list_a1.extend(list_a2)
list_a1

[10, 20, 30, 40, 50]

### * : 반복

In [89]:
list_a = [1, 2, 3] # *는 반복
list_a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

## 리스트 수정

In [91]:
list_a= [10,20,30,40,50]
list_a[2] = 50 #인덱스에 추가하고 싶을떄
print (list_a)

[10, 20, 50, 40, 50]

## 리스트 관련 함수

### 리스트에 원소 추가하기 : 
- 리스트명.append(값)
- 리스트명.insert(인덱스, 값)

In [94]:
list_a = []
list_a.append (10)
list_a.append (20)
list_a.append (30)
list_a.append (40)
list_a.append (50)
print (list_a)

[10, 20, 30, 40, 50]

In [109]:
list_a.insert (3,70) #d인덱스4번째 에  70 추가
print(list_a)

[10, 20, 30, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 40, 50]

### 리스트에 원소 삭제하기 

- 리스트명.remove(값)
- del(리스트명[인덱스])
- 리스트명.pop(인덱스), 리스트명.pop()
- 리스트.clear() : 모두 제거

In [111]:
list_c = [10, 20, 30, 40, 50, 60, 70, 80, 90]
print(list_c)
list_c.remove(40)
print(list_c)

[10, 20, 30, 40, 50, 60, 70, 80, 90]
[10, 20, 30, 50, 60, 70, 80, 90]

In [113]:
del(list_c[4])
print(list_c)

[10, 20, 30, 50, 80, 90]

In [114]:
list_c.pop(0)
print(list_c)

[20, 30, 50, 80, 90]

In [118]:
list_c = [10, 20, 30, 40, 50, 60, 70, 80, 90]
list_c.pop() #비워두면 끝에껄 빼낸다 단 빼낸값은 없어지지않고 들고 있는다 라스트인 퍼스트 아웃 last in first out
print(list_c)

[10, 20, 30, 40, 50, 60, 70, 80]

In [119]:
list_c.clear()
print(list_c)

[]

### 리스트 원소 정렬하기
- 오름차순 :  리스트명.sort()
- 내림차순 :  리스트명.sort(reverse=True)

In [121]:
# 오름차순
list_d = [10, 30, 50, 20, 40]
list_d.sort()
list_d

[10, 20, 30, 40, 50]

In [122]:
# 내림차순
list_d = [10, 30, 50, 20, 40]
list_d.sort(reverse=True)
list_d

[50, 40, 30, 20, 10]

In [133]:
# 5개의 숫자를 입력받아서 오름차순으로 정렬하기

list_a = []
for i in range(1,6,1):
    list_a.append (int(input( f'{i}번째 수 :')))
    
print(f'입력받은 데이터 : {list_a}')
list_a.sort()
print('정렬결과 :',list_a)

입력받은 데이터 : [54, 12, 3, 46, 123]
정렬결과 : [3, 12, 46, 54, 123]

### 리스트 뒤집기 reverse()

In [134]:
list_d = [10, 30, 50, 20, 40]
for i in range(1,6,1):
    list_d.append (int(input( f'{i}번째 수 :')))
    
print(f'입력받은 데이터 : {list_d}')
list_d.reverse()
print('정렬결과 :',list_d)

입력받은 데이터 : [10, 30, 50, 20, 40, 1231352, 12313, 1215, 5645, 135]
정렬결과 : [135, 5645, 1215, 12313, 1231352, 40, 20, 50, 30, 10]

### 리스트 위치반환 index()

In [140]:
list_a = [10,20,30,40,50]
a = list_a.index(30)
list_a.append(0)
b= list_a.index(0)
print(a)
print(b)
print(list_a)

2
5
[10, 20, 30, 40, 50, 0]

# 튜플(Tuple)

- tuple은 list과 거의 같다.
- 거의 같은데, 다른 점이 딱 2가지 있다. 읽기 전용   
  **1) 리스트는 [ ]를 사용하고, 튜플은 ( )을 사용한다.**    
  **2) 리스트는 생성 후에 변경이 가능하고(mutable) 튜플은 생성 후에 변경이 불가능하다.(immutable)**   
- 절때 바뀌지 않는값(바뀌면 안되는 값..)에 튜플 자료형을 쓴다. 예) 위도, 경도....

## 기본 사용법

In [141]:
t1 = ()
t1, type(t1)

((), tuple)

In [144]:
t2 = (1) #이렇게 하면 튜플로 인식 안하고 그냥 숫자로 인식
print(t2, type(t2))

t2 = (1,) #하나만 있는 튜플을 만들때는 쉼표를 넣어줘야한다
print(t2, type(t2))

1 <class 'int'>
(1,) <class 'tuple'>

In [57]:
t3 = (1,2,3)
t3, type(t3)

((1, 2, 3), tuple)

In [145]:
t4 = 1,2,3 #가로가 생략 가능하다 그래도 타입은 튜플형임
t4, type(t4)

((1, 2, 3), tuple)

In [65]:
t5 = ('a', 'b', ('hello',3.5))
t5, type(t5)

(('a', 'b', ('hello', 3.5)), tuple)

In [66]:
# 인덱스로 접근가능
t5[0]

'a'

In [148]:
t5 = ('a', 'b', ('hello',3.5))
t5[-1]

('hello', 3.5)

In [68]:
t5[0] = 3 #튜플은 값을 수정하려면 에러가난다

TypeError: 'tuple' object does not support item assignment

In [69]:
t4.append(1) #수정하기 못하기 때문에 어펜드 리무브는 없다
t4.remove(1)

AttributeError: 'tuple' object has no attribute 'append'

## 튜플연산(+, *)

In [149]:
t1 = (1, 2)
t2 = (3, 4)
t1+t2

(1, 2, 3, 4)

In [150]:
t1*3

(1, 2, 1, 2, 1, 2)

## 튜플 언패킹
- 튜플을 이용하여 변수를 한꺼번에 할당

In [155]:
a, b, c = (100, 200, 'hello')
print(a, b, c)
print(type(a), type(b), type(c))

a, b, c = 100, 200, 'world'
print(a, b, c)
print(type(a), type(b), type(c))

100 200 hello
<class 'int'> <class 'int'> <class 'str'>
100 200 world
<class 'int'> <class 'int'> <class 'str'>

## 기타

In [43]:
# 튜플<->list 자유롭게 변환가능

a = 1, 2, 3,4
print(type(a))

b = list(a)
print(type(b))

c = tuple(b)
print(type(c))

<class 'tuple'>
<class 'list'>
<class 'tuple'>

# 연습문제
 - 문제를 해결하면서 리스트의 개념을 정리해 봅니다.
 - 결과물은 **print()**를 이용해서 출력합니다.

## 아래 문제를 읽고 적절한 코드를 프로그래밍 합니다.
- 2021년 5월 첫째주 영화 예매 순위 기준 top3는 다음과 같습니다. 

### 영화 제목을 movie_rank 이름의 리스트에 저장합니다.(순위 정보는 저장하지 않습니다.)

| 순위 | 영화제목 |
| ---- | :---- | 
|  1 |  크루즈 패밀리 |  
|  2 |  더 스파이 | 
|  3 |  미나리 |

In [157]:
movie_rank = ['크루즈 패밀리','더 스파이','미나리']
print (movie_rank)

['크루즈 패밀리', '더 스파이', '미나리']

### movie_rank에 '비와 당신의 이야기'를 추가합니다.

In [158]:
movie_rank.append('비와 당산의 이야기')
print (movie_rank)

['크루즈 패밀리', '더 스파이', '미나리', '비와 당산의 이야기']

### "명탐정 코난"을 "더 스파이"와 "미나리" 사이에 추가합니다.

In [163]:
movie_rank.insert (2,'명탐정 코난')
print (movie_rank)

['크루즈 패밀리', '더 스파이', '명탐정 코난', '미나리', '비와 당산의 이야기']

### movie_rank 리스트에서 '크루즈 패밀리'를 삭제합니다.

In [111]:
movie_rank = ['크루즈 패밀리', '더 스파이', '명탐정 코난', '미나리']
movie_rank.remove('크루즈 패밀리')
print (movie_rank)

['더 스파이', '명탐정 코난', '미나리']

In [114]:
movie_rank = ['크루즈 패밀리', '더 스파이', '명탐정 코난', '미나리']
del (movie_rank[0])
print (movie_rank)

['더 스파이', '명탐정 코난', '미나리']

### movie_rank에서 '미나리'를 삭제합니다.

In [167]:
movie_rank = ['크루즈 패밀리', '더 스파이', '명탐정 코난', '미나리']
movie_rank.pop()
print(movie_rank)

['크루즈 패밀리', '더 스파이', '명탐정 코난']

##  다음의 조건을 만족하는 list_c를 생성합니다.
- list_a = [1, 2, 3, 4], list_b = [5, 6, 7, 8] 
- list_c 는 list_a 와 list_b 값을 모두 가지고 있다.(list_a와 list_b를 연결)

In [115]:
list_a,list_b = [1,2,3,4],[5,6,7,8]
list_c = list_a + list_b
print (list_c)

[1, 2, 3, 4, 5, 6, 7, 8]

## menu 리스트에 저장된 요소 개수를 화면에 출력하시오.
- menu = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "쏘세지", "라면", "팥빙수", "김치전"]

In [116]:
menu = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "쏘세지", "라면", "팥빙수", "김치전"]
print (len(menu))

12

## a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] 일때 아래 질문에 답하시오.

### 홀수만 추출하세요.(슬라이싱 사용)

In [118]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print (a[::2])

[1, 3, 5, 7, 9]

### 짝수만 추출하세요.(슬라이싱 사용)

In [119]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print (a[1::2])

[2, 4, 6, 8, 10]

### 리스트를 거꾸로 출력하시오.(슬라이싱 사용)

In [123]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
b = a[::-1]
print (b)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

### 리스트를 거꾸로 출력하시오.(reverse() 사용)

In [122]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
a.reverse()
print (a)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

## list_a를 내림차순으로 정렬합니다.

In [129]:
list_a = [45, 65, 35, 100, 20]
print (f'정렬전 :{list_a}')
list_a.sort(reverse=True)
print (f'정렬후 :{list_a}')

정렬전 :[45, 65, 35, 100, 20]
정렬후 :[100, 65, 45, 35, 20]

In [125]:
list_a = [45, 65, 35, 100, 20]
list_a.sort()
list_a

[20, 35, 45, 65, 100]

## 변수 company 가 아래와 같을 때 적절한 코드를 프로그래밍 하세요.
- company = 'Samsung/Naver/LG/Kakao/SK'

### company = ['Samsung', 'Naver', 'LG', 'Kakao', 'SK'] 의 형태로 출력하시오.(str함수이용)

In [130]:
company = 'Samsung/Naver/LG/Kakao/SK'
company = company.split('/')
print(company)

['Samsung', 'Naver', 'LG', 'Kakao', 'SK']

In [96]:
# s1 = '삼성전자/애플/샤오미'
# print(s1)
# print()
# s1 = s1.split('/')
# print(s1)
# print()
# s1 = "★".join(s1)
# print(s1)

삼성전자/애플/샤오미

['삼성전자', '애플', '샤오미']

삼성전자★애플★샤오미

### company = ['Samsung', 'Naver', 'LG', 'Kakao', 'SK'] 를 company = 'Samsung%Naver%LG%Kakao%SK' 형태로 출력하시오.

In [135]:
company = ['Samsung', 'Naver', 'LG', 'Kakao', 'SK']
company = '%'.join(company)
print(company)

Samsung%Naver%LG%Kakao%SK

## 다음 문제을 읽고 답을 완성하세요.
### 숫자 1이 저장된 튜플 t를 생성합니다.

In [137]:
t=(1,)
t

(1,)

In [138]:
t=1,
t

(1,)

### 다음코드를 실행해보고 오류가 발행하는 원인을 설명하세요
- 오류원인 : 변경 불가능한 자료형이기 떄문이다

In [139]:
t = (1, 2, 3)
t[0] = 'a'


#튜플 은 안에 내용을 변경할수 없어서 에러가 난다

TypeError: 'tuple' object does not support item assignment

### 아래 변수 t의 자료형은?
- 답변 :

In [184]:
t = 1, 2, 3, 4
print(type(t))

<class 'tuple'>

### 다음 리스트를 튜플로 변경합니다.. (company 자체를 변경해도 되고, 새로운 변수를 만들어도 됩니다)

In [183]:
company = ['삼성', '애플', '샤오미']
c= tuple(company)
print(type(c))

<class 'tuple'>